@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:"miller-banner-roman";src:url("https://assets.tradesy.com/css/fonts/miller-banner/roman/webfont.eot?v=32");src:url("https://assets.tradesy.com/css/fonts/miller-banner/roman/webfont.eot?v=32iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/miller-banner/roman/webfont.woff2?v=32") format("woff2"),url("https://assets.tradesy.com/css/fonts/miller-banner/roman/webfont.woff?v=32") format("woff"),url("https://assets.tradesy.com/css/fonts/miller-banner/roman/webfont.ttf?v=32") format("truetype"),url("https://assets.tradesy.com/css/fonts/miller-banner/roman/webfont.svg#miller-banner-roman?v=32") format("svg");font-weight:normal;font-style:normal}
* {
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
html {
	background : white;
	font : normal 100%/1.5 'proxima-nova-regular', Arial, sans-serif;
}
body {
	padding : 0 0 3rem;
}
hr {
	clear : left;
	height : 2.5rem;
}
h4 {
	max-width : calc(1200px - 2rem);
	margin : auto auto .5rem;
	font-family : 'proxima-nova-semi', Arial, sans-serif;
	font-size : 18px;
	font-weight : normal;
	letter-spacing : 1.5px;
	text-transform : uppercase;
}
.collections {
	max-width : 1200px;
	margin : auto;
	padding : .25rem 1rem;
}
.collection {
	display : block;
	/*overflow : hidden;*/
	position : relative;
	z-index : 1;
	padding : .75rem 1rem;
	border : 1px solid #ddd;
	color : inherit;
	text-decoration : none;
}
/*.collection:hover {
	box-shadow : 0 0 0 2px #efefef;
}*/
.collection:active {
	opacity : .65;
}
.collection figure {
	display : table;
	/* overflow : hidden; */
	float : left;
	/* height : 100px; */
	width : 25%;
	/* background : #ddd;
	padding : .35rem .3rem; */
	/* border : 1px solid #ddd; */
}
/* .collection figure:nth-child(n+4) {
	border-left : 0;
} */
.collection div {
	display : table-cell;
	/* min-height : 200px; */
	height : 200px;
	/* background : white; */
	padding : 0 1rem;
	vertical-align : middle;
}
.collection img {
	display : block;
	max-height : 90%;
	max-width : 100%;
	margin : auto;
}
.collection hr {
	height : 0;
}
 .collection figure + hr {
	height : 1px;
	background : #ddd;
	margin : 0 -1rem .75rem;
} 
.collection h2, .collection h3 {
	font-weight : normal;
}
.collection h2 {
	display : inline-block;
	position : relative;
	margin-bottom : .5rem;
	font-family : 'miller-banner-roman', Arial, sans-serif;
	font-size : 20px;
}
/*.collection h2:after {
	display : inline-block;
	position : absolute;
	top : 100%;
	left : 0;
	height : 1px;
	width : 100%;
	background : #ddd;
	margin-top : -1px;
	content : "";
}*/
.collection h3 {
	display : inline-block;
	position : relative;
	/*position : absolute;
	top : 1.25rem;
	right : 1.25rem;*/
	padding-right : .75rem;
	color : #999;
	font-size : 14px;
	/*text-align : center;*/
}
.collection h3:after {
	display : inline-block;
	position : absolute;
	top : .3rem;
	right : 0;
	border-left : .5em solid currentColor;
	border-top : .375rem solid transparent;
	border-bottom : .375rem solid transparent;
	content : "";
}
.collection p {
	position : absolute;
	bottom : 0;
	left : 0;
	width : 100%;
	background : #111;
	opacity : 0;
	padding : 1rem;
	color : white;
	font-size : 14px;
	line-height : 1.25;

	/*transition : opacity .125s ease-in-out;*/
}
/*.collection:hover p {
	opacity : 1;
}*/

/*h2[data-tooltip]:before {
	display : none;
	position : absolute;
	top : .4rem;
	left : 100%;
	height : 1.25rem;
	width : 1.25rem;
	margin-left : .5rem;
	border : 1px solid #ddd;
	border-radius : 100%;
	color : #111;
	content : "?";
	font-family : 'proxima-nova-semi', Arial, sans-serif;
	font-size : 15px;
	line-height : 1.5;
	text-align : center;
}
h2[data-tooltip] span {
	display : none;
	position : absolute;
	top : 0;
	left : 100%;
	width : 15rem;
	background : #111;
	margin-left : 2.5rem;
	padding : 1rem;
	border-radius : 3px;
	color : white;
	font-size : 13px;
	line-height : 1.25;
}
h2[data-tooltip]:hover span {
	display : block;
}
h2[data-tooltip] span:before {
	display : inline-block;
	position : absolute;
	top : .75rem;
	left : -5px;
	border-right : .5em solid #111;
	border-top : .375rem solid transparent;
	border-bottom : .375rem solid transparent;
	content : "";
}*/


/*.two .collection, .three .collection {
	padding-bottom : .75rem;
}*/
.two .collection {
	width : calc(50% - 1rem);
	float : left;
}
.two .collection:nth-child(n+2) {
	float : right;
}

.two figure, .three figure {
	width : 33.3%;
	margin-top : .5rem;
}
.two .collection div, .three .collection div {
	height : 180px;
	padding : 0 .5rem;
	/*vertical-align : middle;*/
}
/*.two figure + hr, .three figure + hr {
	height : 1px;
	background : #ddd;
	margin : 0 -1rem .75rem;
}*/

/*.two, .three {
	text-align : center;
}*/
.three .collection {
	width : calc(33.3% - 1.5rem);
	float : left;
}
.three .collection:nth-child(2) {
	position : relative;
	left : 2.275rem;
}
.three .collection:nth-child(n+3) {
	float : right;
}
.three figure {
	width : 50%;
}
.three .collection div {
	height : 150px;
}
/*.two h3, .three h3 {
	display : inline-block;
	position : relative;
	top : auto;
	right : auto;
}*/

.sale:after {
	display : inline-block;
	position : absolute;
	top : -1px;
	right : -1px;
	z-index : 2;
	/*min-width : 3rem;*/
	background : #ee7873;
	padding : 1rem .75rem;
	color : white;
	content : "On Sale";
	/*text-align : center;*/
}
.three .sale:after {
	content : "Sale";
}
.sale h3 {
	color : #ee7873;
}

/*.on-sale.e h2 span:after {
	content : "Sale";
}*/

.on-sale strong {
	display : block;
	/*position : relative;
	top : -.25rem;*/
	
	/*display : inline-block;
	position : absolute;
	top : calc(-.75rem - 1px);
	left : calc(-.75rem - 1px);
	z-index : 2;
	background : #ee7873;
	padding : 1.5rem .5rem;
	color : white;*/

	padding-bottom : .25rem;

	color : #ee7873;
	font-family : 'proxima-nova-semi', Arial, sans-serif;
	font-size : 13px;
	font-weight : normal;
	letter-spacing : 1px;
	/*line-height : 0;*/
	text-transform : uppercase;
}
/*.on-sale strong:after {
	display : inline-block;
	position : absolute;
	bottom : 0;
	left : 0;
	height : 1px;
	width : 100%;
	background : currentColor;
	opacity : .5;
	content : "";
}*/
.three.e2 .on-sale strong {
	position : absolute;
	top : .625rem;
	left : 0;
	width : 100%;
}
.on-sale .urgent {
	letter-spacing : normal;
	/*text-shadow : 2px 0 0 white, -2px 0 0 white,  0 2px 0 #111, 0 -2px 0 white;*/
	text-transform : none;
}
/*.on-sale > em {
	display : inline-block;
	position : absolute;
	bottom : .85rem;
	right : 1rem;
	z-index : 2;
	color : #ee7873;
	font-family : 'proxima-nova-semi', Arial, sans-serif;
	font-size : 13px;
	font-style : normal;
}
.three .on-sale > span {
	top : auto;
	bottom : -1px;
	padding : 1rem .5rem;
}
.three .on-sale > em {
	right : auto;
	left : 0;
	bottom : 0;
	background : white;
	padding : .2rem .2rem .2rem .5rem;
}*/

.header {
	height : 300px;
	background : #ddd;
	/*background : url(../img/closet-UI.png) no-repeat top center;*/
}


/**** editorial ****/
.e {
	padding : .75rem 1rem .25rem .75rem;
}
.e h2 {
	display : table;
	width : 20%;
	float : left;
	/*background : #efefef;*/
	box-shadow : 1px 0 0 #ddd;
	font-size : 26px;
	/*letter-spacing : .25px;*/
	line-height : 1.2;
}
.e h2 span {
	display : table-cell;
	position : relative;
	height : 200px;
	padding : 0 1.5rem;
	vertical-align : middle;
}
.e h2 em {
	display : inline-block;
	/*background : #111;*/
	margin-top : 1rem;
	padding : .5rem .75rem .475rem;
	/*border : 1px solid currentColor;*/
	box-shadow : 0 0 0 1px currentColor;
	/*color : white;*/
	font-family : 'proxima-nova-regular', Arial, sans-serif;
	font-size : 15px;
	font-style : normal;
}
.e:hover h2 em {
	background : #111;
	box-shadow : 0 0 0 1px #111;
	color : white;
}
.e i {
	display : block;
	/*position : relative;
	top : .5rem;*/
	padding : .5rem 0 0;
	color : #666;
	font-family : 'proxima-nova-regular', Arial, sans-serif;
	font-size : 13px;
	font-style : normal;
}
/*.e2 i {
	display : block;
	position : static;
	padding : .5rem 0 0;
}*/
.e figure {
	position : relative;
	top : 1rem;
	width : 20%;
}
.e img, .two .e img {
	max-height : 80%;
	max-width : 90%;
}
.e figure + hr {
	display : none;
}
.e h3 {
	display : block;
	clear : left;
	margin : 0 -1rem 0 -.75rem;
	padding : .25rem 0 0 .5rem;
	border-top : 1px solid #ddd;
	text-align : center;
}
.e h3:after {
	display : none;
}

.two .e h2 {
	position : relative;
	box-shadow : 1px 0 0 #ddd, 0 1px 0 #ddd;
}
.shd.two .e h2 {
	background : #f2f3f3;
	box-shadow : none;
}
.shd.two .e h2:after {
	display : none;
}
.shd em {
	background : white;
}
.two .e h2:after {
	display : block;
	position : absolute;
	bottom : -1px;
	right : -1px;
	height : 1px;
	width : 1px;
	background : #ddd;
	content : "";
}
.two .e figure, .two .e h2 {
	height : 200px;
	width : 50%;
	margin : 0;
}
.two .e figure {
	position : static;
}
.two .e img, .three .e img {
	position : relative;
	top : 1rem;
	max-height : 90%;
	max-width : 100%;
}

.e2 .e {
	padding : 0 .75rem 0;
}
.e2 .e h2, .e2 .e h2 span {
	/*display : block;*/
	height : 170px;
	width : 100%;
	float : none;
	padding : 0;
	text-align : center;
}
.e2 .e h2 {
	padding : .5rem 0;
}
.two.e2 .e h2, .two.e2 .e h2 span {
	height : 150px;
}
.three.e2 .e h2 {
	padding-left : .5rem;
	padding-right : .5rem;
}
.e2 .e h2 {
	/*min-height : 182px;*/
	box-shadow : 0 1px 0 #ddd;
}
.e2 small {
	display : block;
	clear : left;
	padding : 0 0 .85rem;
	color : #666;
	font-size : 13px;
	text-align : center;
}
.e2 .e figure {
	position : static;
	height : 200px;
	width : 33.3%;
	margin : 0;
}
.three.e2 h2 span {
	padding-top : 0;
}
.three.e2 .e figure {
	height : 150px;
	width : 50%;
}
.three.e2 .e img {
	top : .5rem;
	max-height : 85%;
	max-width : 90%;
}




/**** drilldown ****/
header {
	height : 300px;
	background : #f2f3f3;
	margin-top : -3rem;
	margin-bottom : 3rem;
}
#filters {
	height : 80px;
	max-width : 1000px;
	margin : auto;
	border : 1px solid #ddd;
	text-align : center;
}
#filters:before {
	position : relative;
	top : calc(50% - .675rem);
	opacity : .5;
	content : "Filters & such";
}

#drilldown {
	max-width : 1200px;
	margin : auto;
	text-align : center;
}
#drilldown h1 {
	font-family : 'miller-banner-roman', Arial, sans-serif;
	font-size : 34px;
	font-weight : normal;
}
#drilldown .is-on-sale:before {
	display : block;
	padding-bottom : .25rem;
	color : #ee7873;
	font-family : 'proxima-nova-semi', Arial, sans-serif;
	font-size : 13px;
	font-weight : normal;
	letter-spacing : 1px;
	text-transform : uppercase;
	content : attr(data-sale);
}
#drilldown small {
	display : block;
	padding-top : .25rem;
	color : #999;
	font-family : 'proxima-nova-regular', Arial, sans-serif;
	font-size : 13px;
}
#drilldown small:after {
	display : block;
	height : 2px;
	width : 2rem;
	background : #111;
	margin : 1rem auto auto;
	content : "";
}
#drilldown p {
	max-width : 30rem;
	margin : 1rem auto auto;
	color : #313132;
}

.item {
	display : inline-block;
	height : 300px;
	width : calc(25% - 3rem);
	background : #f2f3f3;
	margin : 1rem 1rem 2rem;
}



/* mobiles */
@media screen and ( max-width : 500px ) {

	h4 {
		padding : 0 1rem;
	}
	.e {
		padding : .5rem;
	}
	.e:nth-child(n+2) {
		margin-top : 1rem;
	}
	.collections {
		padding : 0 1rem 1rem;
	}
	.e h2, .e h2 span {
		display : block;
		float : none;
		height : auto;
		width : 100%;
		margin-bottom : 0;
		padding : 1.5rem .5rem;
		box-shadow : none;
		text-align : center;
	}
	.e h2 span {
		max-width : 70vw;
		margin : auto;
		padding : 0;
	}
	.e figure {
		display : none;
	}

}

@media screen and ( min-width : 501px ) and ( max-width : 999px ) {

	h4, .collection {
		padding-left : 1rem;
		padding-right : 1rem;
	}
	.e h2 {
		width : 33%;
	}
	.e figure {
		width : 33%;
	}
	.e figure + figure + figure {
		display : none;
	}

}

@media screen and ( min-width : 1000px ) and ( max-width : 1300px ) {

	h4, .collection {
		padding-left : 1rem;
		padding-right : 1rem;
	}
	.e h2 {
		width : 25%;
	}
	.e figure {
		width : 25%;
	}
	.e figure + figure + figure {
		display : table;
	}
	.e figure + figure + figure + figure {
		display : none;
	}

}





