@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
.cf:before,
.cf:after {
    content : " ";
    display : table;
}
.cf:after {
    clear : both;
}
* {
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing : border-box;
}
body {
	/*background : #efefef;*/
	color : #777;
	font : normal 100%/1.5 'proxima-nova-regular', Arial, sans-serif;
}
.wrapper {
	max-width : 1000px;
	margin : auto auto 4rem;
}
header {
	position : relative;
	z-index : 2;
	background : #111;
	height : 64px;
	margin-bottom : 30px;
}
header nav {
    max-width : 1200px;
    margin : auto;
}
nav > span {
    display : block;
    position : relative;
    float : right;
    height : 64px;
    width : 50px;
}
nav > span:active {
	opacity : .65;
}
.show {
	background : white;
}
.show:active {
	opacity : 1;
}
.show:active .alerts:before {
	opacity : .65;
}
.alerts {
	display : block;
	height : 64px;
    width : 50px;
	text-indent : -9999px;
}
.alerts:before {
	display : block;
	position : absolute;
	top : 20px;
	left : 15px;
	height : 24px;
	width : 20px;
	background : white;
	content : "";
}
.show .alerts:before {
	background : #111;
}
.alerts:after {
	display : block;
	position : absolute;
	top : 10px;
	right : 0;
	height : 20px;
	width : 20px;
	background : rgb(238, 120, 115);
	border-radius : 100%;
	color : white;
	content : "3+";
	font-size : 11px;
	line-height : 2;
	text-align : center;
	text-indent : 0;
}
nav .notifs-wrapper {
	display : none;
	position : absolute;
	top : 100%;
	left : -249px;
	width : 300px;
	/*background : #efefef;*/
	/*margin-top : 2px;*/
	border : 1px solid #ddd;
	/*box-shadow : 0 0 0 1px #ddd; */
	border-top : 0;
	/*text-indent : 0;*/
}
.show .notifs-wrapper {
	display : block;
}
.notifs-wrapper:before, .notifs-wrapper:after {
	display : block;
	position : absolute;
	top : 0;
	right : 0;
	z-index: 2;
	height : 15px;
	width : 100%;
	background: -webkit-linear-gradient(top, white 0%, transparent 100%);
	content : "";
}
.notifs-wrapper:after {
	top : auto;
	bottom : 41px;
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.025) 100%);
}
/*nav .notifs-wrapper:after {
	display : block;
	position : absolute;
	top : -10px;
	right : 15px;
	border-bottom : 10px solid #ddd;
	border-left : 10px solid transparent;
	border-right : 10px solid transparent;
	content : "";
}*/
nav .notif:nth-child(n+2) {
	margin-top : .5rem;
}
.notifs-wrapper > div {
	max-height : 500px;
	overflow : auto;
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.025) 100%);
	padding : 10px;
}
.notifs-wrapper > a {
	display : block;
	background : white;
	padding : .5rem;
	border-top : 1px solid #ddd;
	color : inherit;
	text-align : center;
	/*text-decoration: */
}

h1 {
	max-width : 1000px;
	margin : auto auto 1.5rem;
	/*padding-bottom : .25rem;
	border-bottom : 1px solid #efefef;*/
	color : #111;
	font-size : 24px;
	font-weight : normal;
}
h1 a {
	position : relative;
	top : .7rem;
	float : right;
	color : rgb(238, 120, 115);
	font-size : 13px;
}

aside {
	float : left;
	width : 175px;
	height : 350px;
	background : white;
	border : 1px solid #ddd;
}
aside a {
	display : block;
	/*background : #efefef;*/
	margin-top : 80px;
	padding : .5rem;
	border-bottom : 1px solid #ddd;
	border-top : 1px solid #ddd;
	color : inherit;
	font-size : 14px;
	/*text-align : center;*/
	text-decoration : none;
}
section {
	float : left;
	width : 500px;
	margin-left : 3rem;
}
.notif {
	position : relative;
	background : white;
	border : 1px solid #ddd;
	color : #111;
	font-size : 15px;
	line-height : 1.15;
}
/*.notif:hover {
	border-color : #777;
}*/
small {
	/*background : #FAF8D9;*/
	display : block;
	padding-top : .25rem;
	color : #999;
	font-size : 12px;
}
small:before {
	content : "November 13 at [time]";
}
.notif figure {
	position : relative;
	top : -5px;
	left : -5px;
	float : left;
	height : 30px;
	width : 30px;
	margin-right : 5px;
}
.notif img {
	display : block;
	position : relative;
	top : 5px;
	max-height : 100%;
	max-width : 100%;
	margin : auto;
}
.action figure, .sys figure {
	top : 0;
	left : 0;
	margin-right : 10px;
	border-radius : 100%;
	overflow : hidden;
}
.sys figure {
	margin-left : -.5rem;
}
.action img, .sys img {
	top : 0;
}
.notif strong {
	font-family : 'proxima-nova-semi', Arial, sans-serif;
	font-weight : normal;
}
.notif a {
	display : block;
	padding : 1.5rem;
	color : inherit;
	cursor : pointer;
	text-decoration : none;
}
.notif a:active {
	opacity : .65;
}
.notif:nth-child(n+2) {
	margin-top : 1rem;
}
.action, .sys.read {
	padding : 1.5rem;
}
.action div {
	clear : left;
	height : 200px;
	background : #efefef;
	margin-top : 20px;
}
.action button {
	clear : left;
	background : white;
	box-shadow : 0 0 0 1px #111 inset;
	margin : 20px 0 0 40px;
	padding : 9px 35px 11px;
	color : #111;
	cursor : pointer;
	font-size : 15px;
}
.read div {
	height : 80px;
}
/*.read strong {
	color : #111;
}*/

a em {
	color : rgb(238, 120, 115);
	font-family : 'proxima-nova-semi', Arial, sans-serif;
	font-style : normal;
	/*text-decoration : underline;*/
}
.read em {
	color : inherit;
}
.notif:before, .notif:after {
	display : block;
	position : absolute;
	top : -1px;
	left : -1px;
	height : 100%;
	width : 3px;
	background : rgb(238, 120, 115);
	content : "";
}
.notif:after {
	top : auto;
	bottom : -1px;
	height : 2px;
}

/*** read notifs ***/
.read:before, .read:after {
	display : none;
}

/*.sys a:before {
	display : block;
	float : left;
	height : 30px;
	width : 30px;
	background : #111;
	margin-right : 10px;
	border-radius : 100%;
	color : white;
	content : "T";
	line-height : 2;
	text-align : center;
}*/

h3 {
	/*height : 1rem;*/
	/*width : 30%;*/
	/*color : #111;*/
	font-weight : normal;
	/*background : #ccc;*/
	letter-spacing : 1.25px;
	line-height : 1;
	text-indent : 1.25px;
	text-transform : uppercase;
}
/*h3:before {
	position : relative;
	top : -3px;
	color : #111;
	content : "November [date]";
}*/
hr {
	height : 3rem;
	background : white;
	border : 0;
}