@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
* {
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
}
html {
	background : white;
	padding : 1rem;
	color : #111;
	font : normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	/*text-align : center;*/
}
body {
	max-width : 1200px;
	margin : auto;
}
h2, h3, h4, p, h2 span {
	font-size : 16px;
	font-weight : normal;
}
strong {
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-weight : normal;
}
em {
	font-style : normal;
}
.m {
	display : none;
}
.t {
	display : inherit;
}
.item {
	display : inline-block;
	position : relative;
	/*background : rgba(0, 0, 0, .25);*/
	float : left;
	width : 50%;
	/*max-width : 280px;*/
	/*margin : 1rem;*/
	padding : 10px 15px;
	/*padding-bottom : 1rem;*/
	/*border : 1px solid white;
	border-bottom-color : #eaeaea;*/
	/* overflow : hidden; */
	text-align : left;
	vertical-align : top;
}
/*.item:nth-child(n+3) {
	display : none;
}*/
.item:nth-child(n+3) {
	margin-top : 2.5rem;
}
.seller .item:nth-child(n+5) {
	margin-top : 5.5rem;
}
.c {
	text-align : center;
}
.item > div {
	/*height : 20px;
	padding-top : .75rem;*/
	/*padding : 1rem;
	border-top : 1px solid #eaeaea;*/
}
.item > div h4 {
	font-size : 13px;
}
.item > a {
	display : block;
	position : relative;
	/*background : rgba(0, 0, 0, .25);*/
	/*height : 495px;*/
	height : 432px;
	padding-bottom : 1rem;
	border-bottom : 1px solid #eaeaea;
	color : inherit;
	text-decoration : none;
}
.seller .item > a {
	padding : 1rem;
}
/*.item:hover {
	border-color : #eaeaea;
}*/
.seller .item:hover {
	border-color : #ddd;
}
.item a:active img {
	opacity : .85;
}
.item figure {
	display : table;
	position : relative;
	height : 300px;
	width : 100%;
	padding : 30px 0;
}
.item figure div {
	display : table-cell;
	/*height : 300px;*/
	width : 100%;
	vertical-align : middle;
}
.item img {
	display : block;
	height : auto;
	max-height : 240px;
	width : auto;
	max-width : 200px;
	margin : auto;
}
.sold img {
	opacity : .65;
}
.sold a:active img {
	opacity : .5;
}
h2 {
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 15px;
	line-height : 1;
	/* font-weight : bold; */
	/* letter-spacing : 1px;
	text-indent : 1px;
	text-transform : uppercase; */

	overflow : hidden;
	text-overflow : ellipsis;
    white-space : nowrap;
}
h2 span, h3 span {
	display : block;
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	/* font-weight : normal; */
	letter-spacing : normal;
	text-indent : 0;
	text-transform : none;
}
h2 span {
	display : none;
	padding : .5rem 0 .25rem;
	font-size : 15px;
	text-transform : capitalize;

	overflow : hidden;
	text-overflow : ellipsis;
    white-space : nowrap;
}
h3 {
	margin : 3px 0;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 15px;
	line-height : 1.3;

	overflow : hidden;
	text-overflow : ellipsis;
    white-space : nowrap;
}
.sold h3, .reserved h3 {
	color : #747275;
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
}
h3 span {
	color : #777;
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	font-size : 13px;
}
h3 em span, h3 .drop {
	display : inline-block;
	position : relative;
	top : -2px;
	left : 4px;
	color : #F46E68;
	font-family : Georgia, serif;
	/*font-style : italic;*/
	vertical-align : middle;
}
h3 em em {
	display : inline-block;
	position : relative;
	margin-left : .25rem;
	color : #777;
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	text-decoration : line-through;

	display : none;
}
h3 em .was, h3 em .now {
	margin-left : 0;
	color : #999;
	font-size : 12.5px;
	/*font-style : italic;*/
	text-decoration : none;
}
h3 em .was:before {
	content : "(";
}
h3 em .was:after {
	content : ")";
}
h3 em .now {
	color : inherit;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
}
/*h3 em em:before {
	display : block;
	position : absolute;
	left : -6%;
	top : .575rem;
	height : 2px;
	width : 112%;
	background : currentColor;
	content : "";
}*/
.sale h3, .price-drop h3
/*.sale h3 > em, h3 .drop, .price-drop h3 > em*/ {
	color : #F46E68;
}
.sale h3 > em:before, .price-drop h3 > em:before {
	content : "Sale: ";
}
.price-drop h3 > em:before {
	content : "Price Drop: ";
}
.reserved h3 > em:before {
	content : "Reserved: ";
}

.new h2 > em {
	position : relative;
}
.new figure:after {
	display : block;
	position : absolute;
	bottom : 0;
	left : 0;
	color : #F46E68;
	content : "New ";
	font-size : 14px;
	letter-spacing : .5px;
	text-transform : uppercase;
}

.green-sale .sale h3 > em {
	color : #7dccad;
}
em span:before {
	display : inline-block;
	position : relative;
	top : -2px;
	left : 2px;
	height : 8px;
	width : 2px;
	background : currentColor;
	margin-right : .6rem;
	/* background : url(https://cdn0.iconfinder.com/data/icons/feather/96/591279-arrow-down-128.png) no-repeat center;
	background-size : .75rem; */
	content : "";
}
em span:after {
	display : inline-block;
	position : absolute;
	bottom : 3px;
	left : -2px;
	border-top : 4px solid currentColor;
	border-left : 5px solid white;
	border-right : 5px solid white;
	content : "";
}
h3 span.drop {
	position : relative;
	top : -1px;
	left : -3px;
	/*background : #F46E68;*/
	/*padding : .15rem .45rem .1rem 1rem;*/
	padding-left : 1rem; 
	/*color : white;*/
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	/*line-height : 1;*/
	/*padding-left : .75rem;*/
}
h3 span.drop:before {
	display : inline-block;
	position : absolute;
	top : 3px;
	left : 2px;
	height : 12px;
	width : 12px;
	background : url(../img/arrow-down-coral.svg) no-repeat center;
	background-size : contain;
	content : "";
}
h3 span.drop:after {
	display : none;
}
h3 span.drop + em {
	margin-left : .5rem;
}
p {
	margin : 8px 0 3px;
	font-size : 13px;
}

/*.sold h3 em:before {
	content : "Sold for ";
}*/

p + .item-note {
	margin-top : 5px;
}
.item-note {
	/*position : absolute;*/
	/*top : 225px;
	left : 0;
	width : 100%;
	background : #FAF8E3;*/
	margin : 8px 0 0;
	/*padding : .35rem 1rem .2rem; */
	font-size : 13px;
	/*line-height : 1;*/
	/* text-align : center; */
	/* text-indent : 1px; */

	/*font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;*/
	/*letter-spacing : 1px;
	text-transform : uppercase;*/
}
.item-note:before {
	display : inline-block;
	position : relative;
	top : -.5px;
	height : .8rem;
	width : .8rem;
	background : url(../img/check-green.svg) no-repeat center;
	background-size : 12px;
	border-radius : 100%;
	/*box-shadow : 0 0 0 1px #ddd inset;*/
	/*margin-right : .075rem;*/
	/*content : "";*/
}
.item-note img {
	display : inline-block;
	position : relative;
	top : -1px;
	max-height : 20px;
	max-width : 18px;
	margin-right : 2px;
	vertical-align : middle;
}
.item-note.drop {
	position : relative;
	left : 0;
	background : white;
	margin-left : 1rem;
	padding : 0 .25rem;
	color : #F46E68;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
}
.item-note.drop:before {
	top : 0;
	left : -1rem;
	height : 16px;
	width : 16px;
	background : url(../img/arrow-down-coral.svg) no-repeat center;
}
.item a > span {
	display : block;
	position : absolute;
	top : -1px;
	left : -1px;
	/*height : 2rem;
	width : 2rem;*/
	width : 50px;
	background : #111;
	padding : .85rem 0;
	/*border-radius : 100%;*/
	/*border-radius : 0 0 3px 3px;*/
	color : white;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 13px;
	letter-spacing : .25px;
	line-height : 1;
	/*line-height : 3.35;*/
	text-align : center;
	text-indent : 1px;
	/*text-transform : uppercase;*/
}
.seller .item a > span {
	top : -1px;
	left : 2.75rem;
}
.sale a > span, .drop a > span {
	background : #F46E68;
}
.sale a > span[data-off]:after {
	position : absolute;
	top : 100%;
	left : 0;
	width : 100%;
	margin-top : 5px;
	color : #F46E68;
	content : attr(data-off) '% off';
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	text-align : center;
}
.green-sale .sale a > span, .green-sale .drop a > span {
	background : #7dccad;
}
.green-sale .sale a > span[data-off]:after {
	color : #7dccad;
}
.final a > span {
	padding : .6rem .25rem;
}
.reserved a > span {
	width : auto;
	background : white; 
	padding : 1rem .5rem;
	/*color : #F46E68;*/
	color : #787878;
	/*font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;*/
	box-shadow : 0 0 0 1px #D6D6D6 inset;
}
.sold a > span {
	background : #E8E8E8;
	color : #787878;
}
.green-sale .sold a > span {
	background : #ddd;
	color : #111;
}
.drop a > span img {
	display : inline;
	max-height : 10px;
	max-width : 10px;
	margin : 0;
	vertical-align : middle;
}
.drop a > span, .green-sale .drop a > span {
	width : auto;
	max-width : 100%;
	background : none;
	padding : 1.125rem 0 0 .6rem;
	color : #F46E68;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
}
.drop a > span:before {
	display : inline-block;
	position : absolute;
	top : 1.125rem;
	left : -4px;
	height : 12px;
	width : 12px;
	background : url(../img/arrow-down-coral.svg) no-repeat center;
	background-size : contain;
	content : "";
}
/*.drop a > span:before {
	display : block;
	position : absolute;
	top : 1rem;
	left : .65rem;
	height : .55rem;
	width : 2px;
	background : white; 
	content : "";
}
.drop a > span:after {
	display : block;
	position : absolute;
	top : 1.45rem;
	left : .5rem;
	border-top : 4px solid currentColor;
	border-left : 4px solid transparent;
	border-right : 4px solid transparent;
	content : "";
}*/
.item a > .sold:after {
	border-left-color : #ccc;
}
button {
	background : none;
	padding : 0;
	outline : none;
	color : #999;
	cursor : pointer;
	font-family : inherit;
	font-size : 13px;
	letter-spacing : .125px;
}
button:nth-child(1) {
	position : absolute;
	top : 1.25rem;
	right : .75rem;
	/*opacity : 1;*/
}
.seller button:nth-child(1) {
	right : .75rem;
}
button:nth-child(1):active {
	opacity : .5;
}
button:nth-child(1):before {
	display : inline-block;
	height : 1.4rem;
	width : 1.4rem;
	background : url(../img/love.svg) no-repeat center;
	background-size : contain;
	content : "";
}
button.loved:before {
	animation : love .175s ease-in-out;
	background-image : url(../img/loved-blk.svg);
}
.green-sale button.loved:before {
	background-image : url(../img/loved.svg);
}
button[data-num]:after {
	display : inline-block;
	position : relative;
	top : -7px;
	min-width: 1rem;
	margin-left : .075rem;
	color : #999;
	content : attr(data-num);
	/*font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;*/
	font-size : 11px;
}
button.loved:after {
	color : #111;
}
button:nth-child(2) {
	position : absolute;
	bottom : .75rem;
	right : 2.3rem;
	z-index : 2;
	opacity : 0;
	/*width : calc(100% + 2px);*/
	background : white;
	/* background : -webkit-linear-gradient(top, #fff 0%,#ddd 100%); */
	/*margin-top : 10px;*/
	padding : .5rem .5rem .45rem;
	/*padding-top : .25rem;*/
	border : 1px solid #eaeaea;
	color : #111;
	line-height : 1;
}
a:nth-child(3) {
	position : absolute;
	bottom : .75rem;
	right : 0;
	/*opacity : 1;*/
	padding : .125rem .375rem;
	border : 1px solid white;
	/*border : 0;*/
	color : #999;
	text-decoration : none;
}
a:nth-child(3):after {
	position : relative;
	top : -2.5px;
	content : "...";
	font-size : 30px;
	letter-spacing : 1px;
	line-height : 0;
}
.item:hover a:nth-child(3) {
	border-color : #eaeaea;
}
/*button:nth-child(2):after {
	content : "...";
}*/
/*.alt button:nth-child(2) {
	bottom : auto;
	top : 100%;
	right : auto;
	left : 0;
	margin-top : 8px;
}*/
button:nth-child(2):active, a:nth-child(3):active {
	background : #efefef;
	/* color : #999; */
}

.context-menu {
	position : absolute;
	top : 100%;
	right : .4rem;
	/*margin-top : -5px;*/
	padding : 5px 0;
	border-color : #eaeaea;
}
.item:hover .context-menu:target {
	visibility : visible;
}
.context-menu:before, .context-menu:after {
	display : block;
	position : absolute;
	top : -8px;
	right : 5px;
	z-index : 2;
	border-bottom : 8px solid white;
	border-left : 8px solid transparent;
	border-right : 8px solid transparent;
	content : "";
}
.context-menu:after {
	top : -10px;
	right : 3px;
	z-index : 1;
	border-bottom : 10px solid #eaeaea;
	border-left : 10px solid transparent;
	border-right : 10px solid transparent;
}
.context-menu a {
	display : block;
	color : #111;
	text-decoration : none;
}

.seller button:nth-child(1):before {
	background-image : url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-128.png);
	opacity : .5;
}
.seller button:nth-child(2), .seller button:nth-child(1):after {
	display : none;
}
.seller .featured:after {
	display : inline-block;
	position : absolute;
	bottom : .85rem;
	right : 1rem;
	color : #999;
	content : "\2605  Featured";
	font-size : 12px;
	line-height : 1;
}
.item:hover button:nth-child(2) {
	opacity : 1;
}
.item > div span {
	display : block;
	position : relative;
	top : 1px;
	z-index : 1;
	/*padding : .75rem;*/
	/*border-top : 1px solid #eaeaea;*/
	font-size : 13px;

	height : 1px;
	overflow : hidden;

}
/* .item:hover > div span {
	border-top-color : white;
} */
/*.item > div em {
	display : none;
	height : 1.5rem;
	width : 1.5rem;
	background : #111;
	margin-left : .125rem;
	border-radius : 100%;
	color : white;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 11px;
	letter-spacing : 1.5px;
	line-height : 2.275;
	text-align : center;
	text-indent : 1.5px;
	vertical-align : middle;
}
.item > div .custom {
	background : #111 no-repeat center;
	background-size : cover;
	text-indent : -9999px;
}*/
/*.item > div a {
	display : inline-block;
	position : relative;
	height : auto;
	margin : -1rem 0;
	padding : 1rem 0;
	border : 0;
}*/
.item > div a:active {
	/* opacity : .65; */
	color : #999;
}
.item > div div {
	display : none;
	position : absolute;
	bottom : 120%;
	left : 0;
	/* overflow : hidden; */
	opacity : 0;
	height : auto;
	width : calc(300px - 1.5rem);
	background : white;
	margin-bottom : -.5rem;
	padding : 1rem;
	box-shadow : 0 0 0 1px #ddd inset, 0 1px 3px rgba(0, 0, 0, 0.125);
	border-radius : 3px;
	text-align : center;
}
.item > div div:before, .item > div div:after {
	display : block;
	position : absolute;
	bottom : -6px;
	left : 9px;
	z-index : 2;
	/*height : 16px;
	width : 16px;
	background : white;*/
	border-top : 7px solid white;
	border-left : 7px solid transparent;
	border-right : 7px solid transparent;
	content : "";

	/*transform : rotate(45deg);*/
}
.item > div div:before {
	bottom : -7px;
	left : 8px;
	z-index : 1;
	border-top : 8px solid #ccc;
	border-left : 8px solid transparent;
	border-right : 8px solid transparent;
}
.item > div div span {
	display : block;
	position : static;
	height : auto;
	/* overflow : hidden; */
	background : #111 no-repeat center;
	background-size : cover;
	margin : -1rem -1rem 1rem;
	padding : 1.5rem;
	border : 0;
	border-radius : 3px 3px 0 0;
	color : white;
	/* text-align : center; */
}
.item > div img {
	display : inline-block;
	max-height : 60px;
	max-width : 60px;
	margin : .5rem auto 1rem;
}
.item > div h3 {
	margin : 0 0 .25rem;
	font-family: 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
}
.item > div p {
	line-height : 1.2;
}
.item > div .link {
	display : inline-block;
	background : #111;
	margin : auto auto .25rem;
	padding : .25rem .3rem .2rem;
	color : white;
	/*border : 1px solid #ccc;*/
	/*color : #F46E68;*/
	/*line-height : 1.5;*/
	/*text-decoration : underline;*/
}
.item > div img + img {
	margin-left : 1.125rem;
}
.item > div div em {
	display : block;
	/* position : relative;
	top : 2rem; */
	height : 60px;
	width : 60px;
	background : #111 no-repeat center;
	background-size : cover;
	margin : auto auto 1rem;
}
.item > div a:hover div {
	display : block;
	bottom : 100%;
	opacity : 1;
	
	animation : fadeIn .25s ease-in-out;
}
.item > div a:active div {
	color : #111;
}
.item > div a:active img {
	opacity : 1;
}

@keyframes fadeIn {
	from {
		display : none;
		bottom : 120%;
		opacity : 0;
	}
	to {
		display : block;
		bottom : 100%;
		opacity : 1;
	}
}

@keyframes love {
    0% {
        transform : scale(1);
    }
    25% {
        transform : scale(1.15);
    }
    35% {
        transform : scale(1.3);
    }
    50% {
        transform : scale(1.35);
    }
    65% {
        transform : scale(1.3);
    }
    75% {
        transform : scale(1.2);
    }
    90% {
        transform : scale(1.15);
    }
    100% {
        transform : scale(1);
    }
}

h2 span, h3 em em {
	color : #787878;
}
.light h3 {
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
}

.promoted:before {
	display : none;
	position : absolute;
	top : 100%;
	left : 10px;
	z-index : 3;
	color : #999;
	content : "Promoted by " attr(data-promoted-by);
	font-size : 13px;
}
.promoted > div a {
	display : block;
	position : absolute;
	top : 100%;
	left : 10px;
	/*width : calc(100% - 20px);*/
	/*padding-top : .75rem;*/
	color : #999;
	font-size : 13px;
	text-decoration : none;

	/*overflow : hidden;
	text-overflow : ellipsis;
    white-space : nowrap;

    max-width : 70%;*/
}
.promoted > div:after {
	display : block;
	position : absolute;
	top : 100%;
	right : 10px;
	background : #facf73;
	margin-top : -2px;
	padding : 4px;
	border-radius : 3px;
	cursor : default;
	color : #fff;
	content : "Ad";
	font-size : 12px;
	line-height : 1;
}
/*.promoted > div a > em {
	display : inline-block;
}*/
.promoted > div a em em {
	display : inline-block;
	color : #666;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
}
.promoted > div a:active, .promoted > div a:active em em {
	color : #ccc;
}
/*.promoted:before {
	z-index : 2;
	background : white;
	height : 1rem;
	width : 4rem;
	margin-left : calc( (100% - 4rem) / 2 );
	content : "";
}*/


/***
promoted listings alt
***/

.promoted a {
	border-bottom-color : #999;
}
.promoted > div a {
	display : none;
}
.promoted > div:after {
	right : auto;
	left : 50%;
	margin-top : -20px;
	margin-left : -11px;
	box-shadow : 0 0 0 10px white;
}

nav {
	position : absolute;
	top : -1px;
	right : -1px;
	z-index : 0;
	visibility : hidden;
	min-width : 5rem;
	background : white;
	border : 1px solid #ddd;
}
nav.show {
	z-index : 2;
	visibility : visible;
}
.item nav a {
	height : auto;
	padding : .25rem .5rem .2rem;
	font-size : 13px;
}
nav a:hover {
	background : #efefef;
}
nav a:active {
	color : #777;
}
nav hr {
	height : 1px;
	background : #ddd;
	/*margin-bottom : 10px;*/
}
.item nav a:nth-child(1) {
	/*border-top : 1px solid #ddd;*/
	/*color : #F46E68;*/
	/*font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;*/
}

.promote {
	position : absolute;
	top : 100%;
	left : 0;
	visibility : hidden;
	width : calc( 100% + 2px );
	margin-left : -1px;
	padding : .5rem .75rem;
	border : 1px solid #ddd;
	color : #111;
}
.promote:active {
	background : #efefef;
	color : #777;
}
.item:hover .promote {
	visibility : visible;
}

.seller .draft:after, .seller .draft:before {
	display : block;
	position : absolute;
	top : 100%;
	left : 0;
	z-index : 3;
	width : 100%;
	margin-top : -9px;
	color : #999;
	content : "Draft";
	font-size : 12px;
	text-align : center; 
}
.seller .draft:before {
	z-index : 2;
	background : white;
	height : 1rem;
	width : 2.25rem;
	margin-left : calc( (100% - 2.25rem) / 2 );
	content : "";
}

.draft nav a:nth-child(1), .draft nav hr, .draft nav a:nth-child(4), .draft .promote, .promoted .promote {
	display : none;
}

label {
	position : absolute;
	top : .75rem;
	left : .75rem;
}
input {
	position : absolute;
	left : -9999px;
}
input + span:before {
	display : block;
	height : 1rem;
	width : 1rem;
	background : white;
	border : 1px solid #ccc;
	box-shadow : 0 2px 0 #efefef inset;
	color : white;
	content : "";
	cursor : pointer;
	line-height : 1;
}
input:checked + span:before {
	background : #111;
	box-shadow : none;
	border-color : #111;
}
label:active {
	opacity : .65;
}

@media screen and (min-width : 1024px) {

	.item {
		width : 25%;
		/*padding-right : 15px;
		padding-left : 15px;
		border: 1px solid white;*/
	}
	/*.item:nth-child(n+2) {
		border-left-color : #ddd;
	}
	.item:nth-child(4n+1) {
		border-left-color : white;
	}
	.item a {
		border : 0;
	}*/
	.item:nth-child(n+3), .item:nth-child(n+4) {
		margin-top : 0;
	}
	.item:nth-child(n+5) {
		margin-top : 2.5rem;
		/*border-top-color : #ddd;*/
	}
	h2 span {
		display : inherit;
	}

}

@media screen and (min-width : 1024px) and (max-width : 1319px) {

	.item {
		width : 25%;
	}
	/*.item:nth-child(n+3) {
		margin-top : 0;
	}
	.item:nth-child(n+5) {
		margin-top : 2.5rem;
	}*/

}

@media screen and (min-width : 700px) and (max-width : 1023px) {

	.item {
		width : 33%;
	}
	.item:nth-child(n+3) {
		margin-top : 0;
	}
	.item:nth-child(n+4) {
		margin-top : 2.5rem;
	}

}

@media screen and (max-width : 501px) {

	.item > a {
		height : 315px;
	}
	.item figure {
		height : 210px;
		padding : 40px 0 20px;
	}
	.item img {
		max-height : 140px;
		max-width : 120px;
	}

}

@media screen and (min-width : 502px) and (max-width : 801px) {

	.item figure {
		height : 270px;
	}
	.item img {
		max-height : 210px;
		max-width : 150px;
	}

}

@media screen and (max-width : 599px) {

	html {
		padding : 0;
	}
	.m {
		display : block;
	}
	.t,
	.reserved h3 > em:before {
		display : none;
	}
	.item {
		width : 50%;
	    padding : 10px 15px;
	}
	.item:nth-child(n+3),
	.item:nth-child(n+5) {
		margin-top : 2.5rem;
	}
	.item a > span {
		top : -.5rem;
	}
	button:nth-child(1) {
		top : .75rem;
	}

}

@media screen and (min-width : 502px) and (max-width : 801px) {

	.item > a {
		height : 373px;
	}

}

/*@media screen and (max-width : 800px) {

	.promoted > div a em {
		display : none;
	}

}*/