@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
* {
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}
.cf:before,
.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}
.cf:after {
		clear: both;
}
html {
	height : auto;
	min-height : 100%;
	background : white;
	font : normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
}
body {
	/*max-width : 100vw;
	overflow-x : hidden;*/
	margin : auto;
}
header {
	height : 64px;
	background : #111;
	margin-bottom : 50px;
}
header:after {
	display : block;
	position : relative;
	top : 64px;
	height : 50px;
	border-bottom : 1px solid #ddd;
	content : "";
}

small {
	display : block;
	padding : 2rem 1rem 1rem;
	color : #666;
}
small strong {
	color : #111;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-weight : normal;
}
small button {
	position : relative;
	top : .65rem;
	float : right;
	height : 2.5rem;
	width : 2.5rem;
	background : none;
	margin-top : -1.25rem;
	/*padding : .5rem 2.5rem .5rem .75rem;*/
	padding : .5rem;
	border : 1px solid rgba(0, 0, 0, 0.15);
	border-radius : 100%;
	/*padding-right : 4rem;*/
	font-family : inherit;
	font-size : 15px;
}
/*small button:before {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 0;
	height : 30px;
	width : 30px;
	background : #efefef;
	border-radius : 100%;
	content : "";
}*/
/*small button:after {
	display : block;
	position : absolute;
	top : 50%;
	right : .25rem;
	z-index : 1;
	height : 30px;
	width : 30px;
	background : url(../img/share.svg) no-repeat center;
	background-size : 28px;
	margin-top : -14px;
	content : "";
}*/

#filters h2, .intro, .slide-to .intro button:first-child {
	font-size : 17px;
}

.item {
	position : relative;
	float : left;
	height : 300px;
	width : 50%;
	padding : 1rem;
}
.item:before {
	display : block;
	position : absolute;
	top : 1rem;
	left : 1rem;
	height : calc(300px - 2rem);
	width : calc(100% - 1.5rem);
	background : #efefef;
	content : "";
}
.item:nth-child(even):before {
	left : .5rem;
}

#filter-sort {
	/*background : rgba(0, 0, 0, 0.025);*/
	padding : 1rem;
	border-top : 1px solid rgba(0, 0, 0, 0.1);
	border-bottom : 1px solid rgba(0, 0, 0, 0.1);
}
#filter-sort.sticky {
	position : fixed;
	top : 0;
	left : 0;
	z-index : 3;
	width : 100%;
	background : white;
}
#filter-sort > button {
	position : relative;
	background : none;
	outline : none;
	padding : .5rem .75rem;
	/*border : 1px solid rgba(0, 0, 0, 0.15);*/
	font-family : inherit;
	font-size : 15px;
	text-align : center;
}
#filter-sort > button:active {
	background : #f7f7f7;
}

#filter-sort > button:nth-child(2) {
	float : right;
}
#filter-sort img {
	display : inline;
	position : relative;
	top : -1px;
	left : -2px;
	height : 16px;
	vertical-align : middle;
}

[data-applied]:after {
	display : inline-block;
	margin-left : .25rem;
	color : #999;
	content : '(' attr(data-applied) ')';
	/*position : absolute;
	top : .5rem;
	right : -1rem;
	height : .85rem;
	width : 1rem;
	background : #333;
	padding-top : .125rem;
	border-radius : 100%;
	color : white;
	content : attr(data-applied);
	font-size : 11px;
	vertical-align : middle;*/
}

/*#filter-sort > button:nth-child(1):before, #filter-sort > button:nth-child(1):after {
	display : block;
	position : absolute;
	right : .75rem;
	height : 1px;
	width : .75rem;
	background : #111;
	content : "";
}
#filter-sort > button:nth-child(1):before {
	top : 40%;
}
#filter-sort > button:nth-child(1):after {
	top : 60%;
}

#filter-sort > button:nth-child(2):after {
	display : block;
	position : absolute;
	top : 50%;
	right : .75rem;
	border-top : 7px solid;
	border-left : 5px solid transparent;
	border-right : 5px solid transparent;
	margin-top : -3px;
	content : "";
}*/

#filter-sort h3 {
	margin : 0;
	padding : 1rem 0 .25rem;
}

/** applied filters **/
#applied-filters {
	margin : auto -1rem;
	padding : 0 1rem 1px;
	overflow-x : auto;
}
#applied-filters div {
	width : 125vw;
	/*overflow : scroll;*/
}
#applied-filters button {
	display : inline-block;
	position : relative;
	background : white;
	padding : .35rem 1.4rem .3rem .5rem;
	border : 1px solid #ccc;
	border-radius : 3px;
	/*box-shadow : 0 0 0 1px #999;*/
	font-family : inherit;
	font-size : 12px;
}
#applied-filters button:after {
	display : inline-block;
	position : absolute;
	top : 0;
	right : 0;
	/*height : 100%;*/
	background : white;
	padding : .075rem .35rem 0 0;
	/*border-left : 1px solid #ddd;*/
	border-radius : 0 3px 3px 0;
	color : #ccc;
	content : "\2715";
	font-size : 16px;
	/*line-height : 1.2;*/
}
#applied-filters button:active {
	opacity : .65;
}
#applied-filters button:nth-of-type(n+2) {
	margin-left : .25rem;
}

#sort-actions {
	/*display : none;*/
	position : fixed;
	top : 100%;
	left : 0;
	z-index : 6;
	height : 100%;
	width : 100%;
	/*opacity : 0;*/
	background : white;
	/*margin-top : 10px;
	border-top : 1px solid rgba(0, 0, 0, 0.15);
	border-bottom : 1px solid rgba(0, 0, 0, 0.15);*/
	text-align : left;

	transition : top .25s ease-in-out;
}
#sort-actions.show {
	/*display : block;
	top : 100%;
	opacity : 1;

	animation : fadeIn .25s ease-in-out;*/

	top : 0;
}
#sort-actions a {
	display : block;
	padding : 1rem;
	color : #111;
}
#sort-actions a:nth-child(n+3) {
	border-top : 1px solid #ddd;
}
#sort-actions a:last-child {
	border-bottom : 1px solid #ddd;
}
#sort-actions .active {
	position : relative;
}
#sort-actions .active:after {
	display : block;
	position : absolute;
	top : 50%;
	right : .5rem;
	height : 40px;
	width : 40px;
	background : url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-checkmark-empty-256.png) no-repeat center;
	background-size : 40px;
	margin-top : -20px;
	content : "";
}
#sort-actions a:active, #sort-actions a:focus {
	background : #f7f7f7;
}

#filters {
	position : fixed;
	top : 100%;
	left : 0;
	z-index : 4;
	/*height : 100%;*/
	width : 100%;
	background : white;

	transition : top .25s ease-in-out;
}
html.is-tablet.hiddenUi, .is-tablet body.hiddenUi {
	position : relative;
	overflow : hidden;
	height : 100vh;
}
.is-tablet.hiddenUi body:before {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 2;
	height : 100%;
	width : 100%;
	background : rgba(0, 0, 0, 0.5);
	content : "";
}
.is-tablet #filters {
	top : 0;
	left : 100%;
	width : 400px;
	border-left: 2px solid rgba(0, 0, 0, 0.125);
	/*box-shadow : 2px 0 2px rgba(0, 0, 0, 0.25);*/
	transition : left .25s ease-in-out;
}
.is-tablet #filters.hiddenUi {
	overflow : auto;
	height : 100vh;
}
.is-tablet #apply {
	left : calc(100% - 400px);
	width : 400px;
}
/*.is-tablet .filter:last-of-type {
	margin-bottom : 20px;
}*/
.is-tablet .slide-to {
	left : auto;
	right : -402px;
	width : 402px;

	transition: right .25s ease-in-out;
}
.is-tablet .slide-to.left {
	left : auto;
	right : 0;
}

#filters.show {
	top : 0;
}
.is-tablet #filters.show {
	left : calc(100% - 400px);
}
#filters.left {
	left : -100%;
}
#filters h2 {
	display : table;
	position : relative;
	width : 100%;
	padding : 1.25rem;
	border-bottom : 1px solid #ddd;
	/*width : 95%;*/
	background : white;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	/*font-size : 1px;*/
	font-weight : normal;
	/*overflow : hidden;
	white-space: nowrap;*/

	letter-spacing : 1.5px;
	text-transform : uppercase;
}
#filters .filter-open h2 {
	padding-bottom : 0;
	border-bottom : 0;
}
#filters .slide-to h2 {
	padding : 1.25rem 1.25rem .5rem;
}
#filters .no-border-when-open .open {
	border-bottom : 0;
}
#filters .filter-open h2:before {
	display : none;
}
#filters .none {
	padding-bottom : .35rem;
}
#filters h2:before {
	display : block;
	position : absolute;
	top : 50%;
	right : 1.25rem;
	z-index : 2;
	opacity : .35;
	height : 1.5rem;
	width : 1.5rem;
	background : url(https://www.tradesy.com/images/mobile/chevron-right.svg) no-repeat center;
	background-size : 10px;
	margin-top : -.75rem;
	content : "";

	transform : rotate(90deg);
	transition : transform .25s ease-in-out;
}
#filters h2.open:before {
	transform : rotate(-90deg);
}
#filters h2:after {
	display : block;
	margin-top : -.25rem;
	color : #999;
	content : attr(data-selected);
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	font-size : 14px;
}

#filters h2:active {
	background : #f7f7f7;
}
#filters .filter-open h2:active {
	background : inherit;
}

#filters h2 span {
	display : table-cell;
	height : 42px;
	width : 100%;
	line-height : 1;
    vertical-align : middle;
}
#filters h2 em {
	display : block;
	padding-top : .25rem;
	color : #888;
	/*content : attr(data-selected);*/
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	font-style : normal;
	font-size : 14px;

	letter-spacing : normal;
	text-transform : none;
}

/*** push over ***/
#filters [data-slideable] h2:before {
	transform : rotate(0deg);
}

#filters .none:before {
	display : none;
}

/** active **/
[data-toggleable] h2:active, label:active {
	opacity : .65;
}
.disabled:active {
	opacity : inherit;
}
[data-not] h2:active {
	opacity : 1;
}

/** padding **/
.filter-card {
	padding : 1.25rem;
}

.filter-card {
	border-bottom : 1px solid #ddd;
}
hr {
	height : 1rem;
	background : white;
	border : 0;
}
.filter-card hr {
	height : 2rem;
}
.filter + hr {
	height : 1px;
	background : #ddd;
}

.filter.last {
    margin-bottom : 67px;
}

/** hidden content **/
/*.filter {
	position : relative;
}*/
/*.no-mar-top {
	margin-top : -1rem;
}*/
/*.filter:after {
	display : block;
	position : absolute;
	top : 1.5rem;
	right : 1rem;
	z-index : 1;
	height : 2rem;
	width : 4rem;
	background : linear-gradient(to right, rgba(255, 255, 255, 0) 0%,white 100%);
	content : "";
}*/
.filter > div {
	display : none;
	margin : auto auto 1rem;
	padding : 0 1.25rem;
}
.filter-open > div {
	/*margin : auto auto 1rem;*/
	padding : .5rem 1.25rem 1.75rem;
	border-bottom : 1px solid #ddd;
}
.filter-open > .tab {
	padding : 0 1.25rem;
	border-bottom : 0;
}
.filter-open .tab span {
	padding-top : 0;
}
.slide-to > div {
	border-bottom : 0;
}
.slide-to > .size {
	margin-left : auto;
	margin-right : auto;
    margin-bottom : .75rem;
	padding-bottom : 0;
	padding-left : .75rem;
	padding-right : .75rem;
}
.slide-to > .intro {
	border-bottom : 1px solid #ddd;
}
.filter > .last {
	padding-bottom : 1rem;
}
label {
	display : block;
}
label:nth-of-type(n+2) {
	margin-top : .75rem;
}
.hidden {
	display : none;
}
.inline {
	margin : auto auto .75rem;
}
.inline input[type=text] {
	margin-top : 0;
}
.inline small {
	padding : .35rem 0 0;
}
/*.inline label {
	float : left;
	width : 75%;
}*/
.inline span {
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
}
.inline label:active {
	opacity : 1;
}
.inline input[type=text] {
	background : white url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png) no-repeat calc(100% - .5rem) center;
	background-size : 30px;
	border-color : #999;
}
/*.inline input[type=text] {
	border-right : 0;
}
.inline button {
	float : right;
	width : 25%;
	outline : none;
	background : white;
	border : 1px solid;
	margin-top : 2.1rem; 
	padding : .75rem;
	font-family : inherit;
	font-size : 15px;
}
.inline button:active {
	background : #f7f7f7;
}
.inline button:focus {
	color : #999;
}
.inline button:disabled {
	position : relative;
	color : white;
}
.inline button:disabled:after {
	display : block;
	position : absolute;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	background : url(../img/loading-d.gif) no-repeat center;
	background-size : 30px;
	content : "";
}
.inline input[type=text], .inline button {
	border-color : #999;
}*/
/*.inline:focus input[type=text], .inline:focus button {
	border-color : #111;
}*/

/** search / text **/
input[type=text] {
	width : 100%;
	outline : none;
	margin-top : .5rem;
	padding : .75rem;
	border : 1px solid;
	border-radius : 0;
	font-family : inherit;
	font-size : 16px;
}

/** radios/checkboxes **/
input[type=radio], input[type=checkbox] {
	position : absolute;
	left : -9999px;
}
input + span:before {
	display : inline-block;
	position : relative;
	top : 4px;
	height : 18px;
	width : 18px;
	margin-right : .5rem;
	border : 1px solid;
	content : "";
}
.radios-as-checks input + span:before {
	border-radius : 100%;
}
.radios-as-checks input[type=checkbox]:checked + span:before {
	background-size : 16px;
}
input:checked + span:before {
	background : #111;
}
input[type=radio]:checked + span:before,
input[type=checkbox]:checked + span:before {
	background : #111 url(../img/check-wht.svg) no-repeat 50% calc(50% + .5px);
	background-size : 18px;
}
input[type=radio]:checked + span:before {
	box-shadow : 0 0 0 1px #111 inset, 0 0 0 2px white inset, 0 0 0 3px white inset;
}

/** disabled **/
input:disabled + span {
	color : #ccc;	
}
input:disabled + span img {
	opacity : .5;
	border-color : white;
}
.color input:disabled + span:before {
	opacity : .125;
}

.filter > .images {
	display : block;
	margin-bottom : 0;
}
.images input + span:before {
	display : none;
}
.images label {
	position : relative;
	/*z-index : 1;*/
	float : left;
	width : 33.3%;
	padding : .75rem .35rem;
	border : 1px solid #ddd;
	/*box-shadow : 0 0 0 1px #ddd inset;*/
	text-align : center;
}
.images label:nth-child(3n+3) {
	width : 33.4%;
}
.images label:nth-of-type(n+2) {
	margin-top : 0;
	border-left : 0;
}
.images label:nth-child(n+4) {
	border-top : 0;
}
.images label:nth-child(4), .images label:nth-child(7) {
	border-left : 1px solid #ddd;
}
.images .checked img {
	opacity : .35;
}
.images .checked:after {
	display: block;
	position : absolute;
	top : 50%;
	left : 50%;
	z-index : 3;
	height : 50px;
	width : 50px;
	background : url(../img/check-blk.svg) no-repeat center;
	background-size : 66%;
	border-radius : 100%;
	margin-top : -33px;
	margin-left : -25px;
    content : "";
}
/*.images .checked:before {
	display: block;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 2;
	height : 100%;
	width : 100%;
	background : linear-gradient(to top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.5) 100%);
    content : "";
}*/
.images img {
	height : 45px;
}
.images em {
	display : block;
	padding-top : .35rem;
	font-size : 11px;
	font-style : normal;
}
/*.images .checked {
	background : url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-checkmark-empty-256.png) no-repeat calc(100% - .25rem) center;
	background-size : 50px;
	box-shadow : 0 0 0 1px #111 inset;
}
.images label:nth-of-type(n+2) {
	margin-top : .65rem;
}
.images label:last-child {
	margin-bottom : .5rem;
}

.images img {
	display : inline-block;
	float : left;
	max-width : 55px;
    margin : auto 15px auto auto;
    padding : 4px;
    border : 1px solid #ddd;
}
input:checked + span img {
	border-color : inherit;
}
.images em {
	display : inline-block;
	float : left;
	padding-top : 15px;
	font-style : normal;
}*/

#filters .filter-card h2 {
	padding : 0;
	border-bottom : 0;
}
#filters .filter-card h2:before {
	display : none;
}
#filters .filter-card h2:active {
	background : inherit;
}
#slider {
	position : relative;
	margin-bottom : 2.5rem;
	padding : 1.25rem 0 0;
	border-bottom : 3px solid #93CE52;
}
#slider em {
	display : block;
	position : absolute;
	top : calc(.25rem + 4px);
	z-index : 2;
	height : 26px;
	width : 26px;
	background : white;
	border : 1px solid #ccc;
	border-radius : 100%;
	box-shadow : 0 1px 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.075);
	/*content : "";*/
}
#slider em:nth-of-type(2) {
	right : 0;
}
#slider span {
	display : block;
	position : absolute;
	top : 100%;
	margin-top : 1.25rem;
	/*color : #999;*/
	font-size : 14px;
}
#slider span:last-child {
	right : 0;
}
#toggle {
	position : relative;
	top : -2.125rem;
	float : right;
	height : 30px;
	width : 50px;
	background : #ddd;
	margin-bottom : -2.375rem;
	border-radius : 16px;
}
#toggle:before {
	display : block;
	position : absolute;
	top : 3px;
	left : 3px;
	height : 24px;
	width : 24px;
	background : white;
	border-radius : 18px;
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
	content : "";
	
	transition : left .25s ease-in-out;
}
#toggle.active {
	background : #111;
}
#toggle.active:before {
	left : 23px;
}
.filter > .tab, .filter-card > .tab {
	display : block;
	clear : right;
	/*background : #111;*/
	/*margin-top : .5rem;*/
	margin-bottom : .5rem;
	/*padding : 1px;*/
	/*border : 1px solid;*/
}
.filter-card > .tab {
	margin-top : .25rem;
}
.filter > .tab {
	margin-left : 1.25rem;
	margin-right : 1.25rem;
	padding : 0;
}
.tab span {
	display : block;
	position : relative;
	float : left;
	width : 33%;
	background : white;
	padding : .5rem 0;
	border-bottom : 1px solid #ddd;
	color : #666;
	cursor : pointer;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 15px;
	text-align : center;
}
.tab span:active {
	background : #f7f7f7;
}
.four span {
	width : 25%;
}
.tab span:last-child {
	width : 34%;
}
.four span:last-child {
	width : 25%;
}
.tab .active {
	color : #EE7873;
}
.tab .active:active {
	background : white;
}
.tab .active:after {
	display : block;
	position : absolute;
	top : calc(100% - 4px);
	left : 0;
	height : 5px;
	width : 100%;
	background : #EE7873;
	content : "";
}
/*.tab span:nth-child(n+2) {
	border-left : 1px solid;
}*/
/*.tab span.disabled, .tab span.disabled:active {
	background : #f7f7f7;
	border-left-color : #111;
	color : #999;
}*/

/** re-usable toggle **/
.toggle {
	display : block;
	position : relative;
	padding : 0 1.25rem 1.25rem;
}
.slide-to .toggle {
	margin-top : .5rem;
	padding-bottom : .5rem;
}
.toggle-wrapper {
	margin : .5rem auto;
	padding : .5rem 1.25rem 1.25rem !important;
	border-top : 1px solid #ddd;
	border-bottom : 1px solid #ddd !important;
}
.toggle-wrapper.card {
	margin : 0 !important;
	padding : 0 !important;
	border : 0 !important;
}
.card span {
	letter-spacing : 1.5px;
	text-transform : uppercase;
}
.toggle-wrapper + .tab {
	margin : 1.5rem auto;
}
.toggle-wrapper + .size {
	margin-top : 1.5rem;
}
.toggle-wrapper small {
	padding : 0;
    line-height : 1.25;
}
.toggle-wrapper .toggle {
	padding : 0;
}
.filter-card .toggle {
	padding : 0;
}
.toggle span {
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 17px;
}
.toggle:active {
	opacity : 1;
}
.toggle:active:before,
.toggle:active:after {
	opacity : .5;
}
.toggle input + span:before {
	display : block;
	position : absolute;
	top : -1px;
	right : calc(24px - 9px);
	z-index : 2;
	height : 24px;
	width : 24px;
	background : white;
	border : 0;
	border-radius : 18px;
	
	transition : right .25s ease-in-out;
}
.toggle input + span:after {
	position : absolute;
	top : -4px;
	right : 0;
	z-index : 1;
	height : 30px;
	width : 50px;
	background : #ddd;
	border-radius : 16px;
	content : "";
}
.toggle-wrapper input + span:before {
	top : 11px;
	/*right : -4px;*/
}
.toggle-wrapper input + span:after {
	top : 8px;
	/*right : 0;*/
}

/*.filter-card .toggle input + span:before {
	right : -4px;
}
.filter-card .toggle input + span:after {
	right : 0;
}*/

.toggle input:checked + span:before {
	right : -5px;
	background : white;
}
.toggle input:checked + span:after {
	background : currentColor;
}

.filter:last-of-type {
	margin-bottom : 68px;
}

/** color UI **/
.color-wrap {
	margin : auto !important;
	padding : 0 0 1.25rem !important;
	border-bottom : 1px solid #ddd;
}
.border-bot {
	margin-bottom : 0 !important;
	padding-bottom : 1.25rem !important;
	border-bottom : 1px solid #ddd;	
}
.color {
	position : relative;
	float : left;
	/*width : calc(25% - 6px);
    margin : 0 3px .5rem;
    padding : 3px;
    border : 1px solid white;
    border-radius : 3px;*/


	width : 25%;
    margin : 0 0 1rem;
    padding : 0;

	font-size : 15px;
	text-align : center;
}
.color:nth-child(n+2) {
	margin-top : 0;
}
.color:nth-child(n+13) {
	margin-bottom : .5rem;
}
.color input + span:before {
	display : block;
	height : 47px;
	width : 47px;
	margin : auto auto.5rem;
	border : 0;
	border-radius : 100%;
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
}
/*.checked input + span:before {
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.5) inset;
}*/
.color input:checked + span:before {
	background-image : none;
}
.color input:checked + span:after {
	display: block;
	position : absolute;
	top : 9px;
	left : 50%;
	z-index : 3;
    height : 40px;
	width : 40px;
	background : url(../img/check-blk.svg) no-repeat center;
	background-size : 30px;
	border-radius : 100%;
	margin-left : -20px;
    content : "";
}

/** colors **/
.black input + span:before,
.black input:checked + span:before {
	background-color : #111;
}
.white input + span:before,
.white input:checked + span:before {
	background-color : white;
}
.grey input + span:before,
.grey input:checked + span:before {
	background-color : grey;
}
.red input + span:before,
.red input:checked + span:before {
	background-color : red;
}
.blue input + span:before,
.blue input:checked + span:before {
	background-color : blue;
}
.beige input + span:before,
.beige input:checked + span:before {
	background-color : beige;
}
.pink input + span:before,
.pink input:checked + span:before {
	background-color : pink;
}
.green input + span:before,
.green input:checked + span:before {
	background-color : green;
}
.orange input + span:before,
.orange input:checked + span:before {
	background-color : orange;
}
.purple input + span:before,
.purple input:checked + span:before {
	background-color : purple;
}
.yellow input + span:before,
.yellow input:checked + span:before {
	background-color : yellow;
}
.brown input + span:before,
.brown input:checked + span:before {
	background-color : brown;
}
.silver input + span:before,
.silver input:checked + span:before {
	background-color : silver;
}
.gold input + span:before,
.gold input:checked + span:before {
	background-color : gold;
}
.multi input + span:before,
.multi input:checked + span:before {
	background : url(../img/multi.jpg) no-repeat center;
	background-size : 100%;
}

/** dark checks **/
.black input:checked + span:after,
.blue input:checked + span:after,
.red input:checked + span:after,
.brown input:checked + span:after,
.purple input:checked + span:after,
.grey input:checked + span:after,
.green input:checked + span:after,
.multi input:checked + span:after {
	background-image : url(../img/check-wht.svg);
}

/** collection radios **/
.filter > .collections {
	margin-top : -.5rem;
	padding : 0 .75rem;
}
.collections label {
	display : table;
	float : left;
	height : 100px;
	width : 50%;
	padding : .5rem;
}
.collections .hidden {
	display : none;
}
.collections label:nth-of-type(n+2) {
	margin-top : 0;
}
/*.collections label:nth-child(n+3) {
	margin-bottom : 1rem;
}*/
.collections span {
	display : table-cell;
	height : 100px;
	padding : 0 .75rem;
	border : 1px solid;
	font-size : 15px;
	line-height : 1.25;
	text-align : center;
	vertical-align : middle;
}
.collections .checked span {
	background : #111;
	color : white;
}
.collections input + span:before {
	display : none;
}

.collections hr {
	clear : left;
}

.padding-bottom {
	padding-bottom : 67px !important;
}

/** light button **/
.light-btn {
	display : block;
	clear : left;
	/*width : calc(100% - 1rem);*/
	width : 100%;
	background : white;
	outline : none;
	/*margin : auto auto .5rem;*/
	margin-top : 1.5rem;
	padding : .65rem .5rem .6rem;
	border : 1px solid #ccc;
	font-family : inherit;
	font-size : 16px;
}
.light-btn:active {
	background : #ddd;
}
.light-btn:disabled {
	position : relative;
	border-color : #ddd;
}
.light-btn:disabled:after {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	height : 100%;
	width : 100%;
	background : #f7f7f7 url(../img/loading-d.gif) no-repeat center;
	background-size : 24px;
	content : "";
}

/** non-size-wrapper **/
/*#non-size-filters {
	position : relative;
	left : 0;

	transition : left .25s ease-in-out;
}*/
#filter-wrapper:before {
	display : none;
	position : absolute;
	top : -100px;
	left : 0;
	z-index : 6;
	height : calc(100% + 100px);
	width : 100%;
	background : linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%,rgba(0, 0, 0, 0) 100%);
	content : "";
}
/*#non-size-filters.transitioning {
	left : -20vw;
}*/
#filter-wrapper.opaque:before {
	display : block;
}

#size-wrapper,
.slide-to {
	position : fixed;
	top : 0;
	left : 100vw;
	z-index : 7;
	min-height : 100vh;
    width : calc(100% + 2px);
    background : white;
    /*margin-bottom : 67px;*/
    padding-bottom : 1rem;
    border-left : 2px solid rgba(0, 0, 0, 0.25);

    transition : left .25s ease-in-out;
}

#size-wrapper.left,
.slide-to.left {
	left : -2px;
}
#size-wrapper.absolute,
.slide-to.absolute {
	position : absolute;
}
#size-wrapper h2:before {
	display : none;
}

.slide-to .intro button:first-child {
	top : 0;
	float : none;
	padding-left : 1rem;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	/*font-family : inherit;*/
	font-size : 16px;
	line-height : 24px;
	letter-spacing : 1.5px;
	text-transform : uppercase;
}
.slide-to .intro button:first-child:after {
	display : block;
	position : absolute;
	top : 50%;
	left : -.25rem;
	opacity : .35;
	height : 1rem;
	width : 1rem;
	background : url(https://www.tradesy.com/images/mobile/chevron-right.svg) no-repeat center;
	background-size : 8px;
	margin-top : calc(-.5rem - 1px);
	content : "";

	transform : rotate(180deg);
}
h3 {
	margin : 0 0 .25rem;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-weight : normal;
	font-size : 15px;
	/*letter-spacing : 1.25px;
	text-transform : uppercase;*/
}
#size-wrapper h3 {
	margin-bottom : 0;
	padding-left : 1.25rem;
}
#size-wrapper .tab {
	/*margin-top : .25rem;*/
	margin-bottom : .85rem;
}

/** size-card **/
#size-card {
	position : relative;
	margin-top : .5rem;
	padding : .5rem .75rem;
	border : 1px solid #ddd;
}
#size-card.first {
	margin : 1.25rem 1rem .25rem;
}
#size-card.first h2 {
	padding : 0;
}
#size-card.first h2:before {
	display : none;
}
#size-card:active {
	background : #f7f7f7;
}
#size-card:after {
	display : block;
	position : absolute;
	top : 50%;
	right : .5rem;
	height : 1.5rem;
	width : 1.5rem;
	background : url(https://www.tradesy.com/images/mobile/chevron-right.svg) no-repeat center;
	background-size : 10px;
	margin-top : -.75rem;
	content : "";

	transform : rotate(-90deg);
}
#size-card h2 {
	background : none;
}

.size {
	display : block;
	margin : auto 1rem 1.5rem;
	padding : 1px 0;
	border-bottom : 0;
}
.size label {
	display : block;
	float : left;
	width : calc(25% - 16px);
	background : white;
	margin : 0 8px 16px;
    /*padding : .35rem;*/
	text-align : center;
}

/*.size label:nth-child(n+4) {
	margin-top : .7
}*/

.three.size label {
	width : calc(33.3% - 8px);
	margin : 0 4px;
}
.three.size {
	margin : .75rem -.25rem auto;
}

.size label:nth-of-type(n+2) {
	margin-top : 0;
}
/*#size label:nth-child(n+6), #size2 label:nth-child(n+6) {
	margin-top : 1px;
}*/
.size span {
	display : block;
	padding : .5rem 0;
	border : 1px solid;
}
#size span:before, #size2 span:before, .size span:before {
	display : none;
}
/*#size .checked, #size2 .checked {
	background : #111;
	box-shadow : 0 0 0 1px #111;
	color : white;
}*/
.size .checked span {
	background : #111;
	/*border-color : #111;*/
	color : white;
}

#apply {
	position : absolute;
	bottom : 0;
	left : 0;
	z-index : 7;
	width : 100%;
	background : white;
	padding : .75rem;
	border-top : 1px solid #ddd;

	transition : left .25s ease-in-out;
}
#apply:before {
	display : block;
	position : absolute;
	bottom : calc(100% + 1px);
	left : 0;
	height : 1rem;
	width : 100%;
	background : linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.5) 100%);
	content : "";
}
#apply.loaded {
	position : fixed;
}
#apply.left {
	left : -100%;
}
#apply button {
	display : block;
	float : left;
	/*width : 60vw;*/
	width : calc(50% - .5rem);
	background : #111;
	margin-left : .5rem;
	padding : .75rem 0 .7rem;
	color : white;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 17px;
}
#apply button:first-child {
	background : white;
	margin-right : .5rem;
	margin-left : 0;
	border : 1px solid #ccc;
	color : #111;
	font-family : inherit;
}
#apply button:active {
	color : rgba(255, 255, 255, 0.75);
}
#apply button:first-child:active {
	background : white;
}
#apply button:disabled {
	position : relative;
}
#apply button:disabled:after {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	height : 100%;
	width : 100%;
	background : #111 url(../img/loading.gif) no-repeat center;
	background-size : 24px;
	content : "";
}
#apply button:first-child:disabled:after {
	background : white url(../img/loading-d.gif) no-repeat center;
	background-size : 24px;
	/*box-shadow : 0 0 0 1px currentColor inset;*/
}
#apply span {
	display : block;
	clear : both;
	/*width : 60vw;*/
	margin-bottom : -.5rem;
	padding-top : .25rem;
	color : #999;
	font-size : 11px;
	text-align : center;
}
#apply span:before {
	content : "We found ";
}
#apply span:after {
	content : " items";
}

.intro {
	position : relative;
	left : 0; 
	background : #f7f7f7;
	padding : 1rem 1.25rem .9rem !important;
	border-bottom : 1px solid #ddd;
	/*color : #333;*/

	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	letter-spacing : 1.5px;
	text-transform : uppercase;

	transition : left .25s ease-in-out;
}
.intro.left {
	left : -20vw;
}
.intro button {
	position : relative;
	top : -4px;
	float : right;
	background : none;
	font-size : 24px;
}
.intro img {
	height : 14px;
}
.intro button:active {
	opacity : .5;
}
/*.intro button:after {
	content : "\2715";
}*/

#ajax-overlay {
	position : fixed;
	top : 0;
	left : 0;
	z-index : 5;
	height : 100vh;
	width : 100vw;
	background : rgba(255, 255, 255, 0.5);
	/*background : rgba(255, 255, 255, 0.5) url(../img/loading-d.gif) no-repeat center;
	background-size : 50px;*/
}
/*#ajax-overlay:before {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	height : 5px;
	width : 100vw;
	background : rgba(0, 0, 0, 0.5);
	content : "";
}*/
#ajax-overlay:after {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	height : 5px;
	width : 0;
	background : #ee7873;
	content : "";

	animation : fullWidth .35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


#iframe {
	min-height : 100%;
	height : 100%;
	background : #efefef;
	padding : 3rem;
}
iframe {
	display : block;
	height : 650px;
	width : 340px;
	background : #999;
	margin : auto;
	padding : 70px 10px 50px;
	border-radius : 8px; 
	box-shadow : 0 0 0 2px #999;
}
.is-tablet iframe {
	height : 1084px;
	width : 780px;
}


center {
	display : block;
	margin-bottom : 1rem;
}
code {
	display : inline-block;
	background : white;
	padding : .35rem .5rem;
	border : 1px solid rgba(0, 0, 0, 0.1);
}




@keyframes fadeIn {
	0% {
		display : none;
		top : 50%;
		opacity : 0;
	}
	100% {
		display : block;
		top : 100%;
		opacity : 1;
	}
}
@keyframes fullWidth {
	0% {
		width : 0;
	}
	100% {
		width : 110vw;
	}
}