@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
* {
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}
.cf:before,
.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}
.cf:after {
		clear: both;
}
html {
	height : auto;
	min-height : 100%;
	background : white;
	font : normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
}
body {
	/*max-width : 100vw;
	overflow-x : hidden;*/
	margin : auto;
}
header {
	height : 64px;
	background : #111;
	margin-bottom : 50px;
}
header:after {
	display : block;
	position : relative;
	top : 64px;
	height : 50px;
	border-bottom : 1px solid #ddd;
	content : "";
}

small {
	display : block;
	padding : 2rem 1rem 1rem;
	color : #666;
}
small strong {
	color : #111;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-weight : normal;
}
small button {
	position : relative;
	top : .65rem;
	float : right;
	min-width : 2.5rem;
	background : none;
	margin-top : -1.25rem;
	/*padding : .5rem 2.5rem .5rem .75rem;*/
	padding : .5rem .75rem;
	border : 1px solid rgba(0, 0, 0, 0.15);
	/*padding-right : 4rem;*/
	font-family : inherit;
	font-size : 15px;
}
/*small button:before {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 0;
	height : 30px;
	width : 30px;
	background : #efefef;
	border-radius : 100%;
	content : "";
}*/
small button:after {
	display : block;
	position : absolute;
	top : 50%;
	right : .25rem;
	z-index : 1;
	height : 30px;
	width : 30px;
	background : url(../img/share.svg) no-repeat center;
	background-size : 28px;
	margin-top : -14px;
	content : "";
}

.item {
	position : relative;
	float : left;
	height : 300px;
	width : 50%;
	padding : 1rem;
}
.item:before {
	display : block;
	position : absolute;
	top : 1rem;
	left : 1rem;
	height : calc(300px - 2rem);
	width : calc(100% - 1.5rem);
	background : #efefef;
	content : "";
}
.item:nth-child(even):before {
	left : .5rem;
}

#filter-sort {
	background : rgba(0, 0, 0, 0.025);
	padding : 1rem;
	border-top : 1px solid rgba(0, 0, 0, 0.1);
	border-bottom : 1px solid rgba(0, 0, 0, 0.1);
}
#filter-sort button {
	position : relative;
	background : white;
	outline : none;
	padding : .5rem 2rem .5rem .75rem;
	border : 1px solid rgba(0, 0, 0, 0.15);
	font-family : inherit;
	font-size : 15px;
}
#filter-sort button:active {
	background : #f7f7f7;
}

#filter-sort button:nth-child(2) {
	float : right;
}

#filter-sort button:nth-child(1):before, #filter-sort button:nth-child(1):after {
	display : block;
	position : absolute;
	right : .75rem;
	height : 1px;
	width : .75rem;
	background : #111;
	content : "";
}
#filter-sort button:nth-child(1):before {
	top : 40%;
}
#filter-sort button:nth-child(1):after {
	top : 60%;
}

#filter-sort button:nth-child(2):after {
	display : block;
	position : absolute;
	top : 50%;
	right : .75rem;
	border-top : 7px solid;
	border-left : 5px solid transparent;
	border-right : 5px solid transparent;
	margin-top : -3px;
	content : "";
}

#sort-actions {
	/*display : none;*/
	position : fixed;
	top : 100%;
	left : 0;
	z-index : 6;
	height : 100%;
	width : 100%;
	/*opacity : 0;*/
	background : white;
	/*margin-top : 10px;
	border-top : 1px solid rgba(0, 0, 0, 0.15);
	border-bottom : 1px solid rgba(0, 0, 0, 0.15);*/
	text-align : left;

	transition : top .25s ease-in-out;
}
#sort-actions.show {
	/*display : block;
	top : 100%;
	opacity : 1;

	animation : fadeIn .25s ease-in-out;*/

	top : 0;
}
#sort-actions a {
	display : block;
	padding : 1rem;
	color : #111;
}
#sort-actions a:nth-child(n+3) {
	border-top : 1px solid #ddd;
}
#sort-actions a:last-child {
	border-bottom : 1px solid #ddd;
}
#sort-actions .active {
	position : relative;
}
#sort-actions .active:after {
	display : block;
	position : absolute;
	top : 50%;
	right : .5rem;
	height : 40px;
	width : 40px;
	background : url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-checkmark-empty-256.png) no-repeat center;
	background-size : 40px;
	margin-top : -20px;
	content : "";
}
#sort-actions a:active, #sort-actions a:focus {
	background : #f7f7f7;
}

#filters {
	position : fixed;
	top : 100%;
	left : 0;
	z-index : 3;
	/*height : 100%;*/
	width : 100%;
	background : white;

	transition : all .25s ease-in-out;
}
#filters.show {
	top : 0;
}
#filters.left {
	left : -100%;
}
#filters h2 {
	position : relative;
	/*border-bottom : 1px solid #ddd;*/
	background : white;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 18px;
	font-weight : normal;
}
#filters h2:before {
	display : block;
	position : absolute;
	top : 50%;
	right : 1.25rem;
	height : 1.5rem;
	width : 1.5rem;
	background : url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-256.png) no-repeat center;
	background-size : 40px;
	margin-top : -.75rem;
	content : "";

	transition : transform .25s ease-in-out;
}
#filters h2.open:before {
	transform : rotate(180deg);
}
#filters h2:after {
	display : block;
	margin-top : -.25rem;
	color : #999;
	content : attr(data-selected);
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	font-size : 14px;
}
/*[data-tappable]:active {
	opacity : .65;
}*/

/** active **/
[data-toggleable] h2:active, label:active {
	opacity : .65;
}
.disabled:active {
	opacity : inherit;
}

/** padding **/
h2, .filter-card {
	padding : .75rem 1.25rem;
}
.filter-card {
	padding-top : 1rem;
	padding-bottom : 1rem;
}
.is-tablet h2, .is-tablet .filter-card {
	padding : .75rem 12rem;
}
.is-tablet .filter > div {
	padding : 0 12rem;
}
.is-tablet #filters h2:before {
	right : 12rem;
}
.is-tablet #apply button {
	max-width : 300px;
	margin : auto;
}

.filter-card {
	border-bottom : 1px solid #ddd;
}
hr {
	height : 1rem;
	background : white;
	border : 0;
}
.filter-card hr {
	height : 1.25rem;
}
.filter + hr {
	height : 1px;
	background : #ddd;
}

/** hidden content **/
.filter > div {
	display : none;
	margin : auto auto 1rem;
	padding : 0 1.25rem;
}
.filter > .last {
	padding-bottom : 1rem;
}
label {
	display : block;
}
label:nth-child(n+2) {
	margin-top : .75rem;
}
.hidden {
	display : none;
}
.inline {
	margin : 1rem auto 1.25rem;
}
/*.inline label {
	float : left;
	width : 75%;
}*/
.inline span {
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
}
.inline label:active {
	opacity : 1;
}
.inline input[type=text] {
	background : white url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png) no-repeat calc(100% - .5rem) center;
	background-size : 30px;
	border-color : #999;
}
/*.inline input[type=text] {
	border-right : 0;
}
.inline button {
	float : right;
	width : 25%;
	outline : none;
	background : white;
	border : 1px solid;
	margin-top : 2.1rem; 
	padding : .75rem;
	font-family : inherit;
	font-size : 15px;
}
.inline button:active {
	background : #f7f7f7;
}
.inline button:focus {
	color : #999;
}
.inline button:disabled {
	position : relative;
	color : white;
}
.inline button:disabled:after {
	display : block;
	position : absolute;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	background : url(../img/loading-d.gif) no-repeat center;
	background-size : 30px;
	content : "";
}
.inline input[type=text], .inline button {
	border-color : #999;
}*/
/*.inline:focus input[type=text], .inline:focus button {
	border-color : #111;
}*/

/** search / text **/
input[type=text] {
	width : 100%;
	outline : none;
	margin-top : .5rem;
	padding : .75rem;
	border : 1px solid;
	border-radius : 0;
	font-family : inherit;
	font-size : 16px;
}

/** radios/checkboxes **/
input[type=radio], input[type=checkbox] {
	position : absolute;
	left : -9999px;
}
input + span:before {
	display : inline-block;
	position : relative;
	top : 4px;
	height : 18px;
	width : 18px;
	margin-right : .5rem;
	border : 1px solid;
	content : "";
}
input[type=radio] + span:before {
	border-radius : 100%;
}
input:checked + span:before {
	background : #111;
}
input[type=checkbox]:checked + span:before {
	background : #111 url(https://assets.tradesy.com/images/forms/check-white.svg) no-repeat center;
	background-size : 80%;
}
input[type=radio]:checked + span:before {
	box-shadow : 0 0 0 1px #111 inset, 0 0 0 2px white inset, 0 0 0 3px white inset;
}

/** disabled **/
input:disabled + span {
	color : #ccc;	
}
input:disabled + span img {
	opacity : .5;
	border-color : white;
}
.color input:disabled + span:before {
	opacity : .125;
}

.images input + span:before {
	display : none;
}
.images .checked {
	background : url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-checkmark-empty-256.png) no-repeat calc(100% - .25rem) center;
	background-size : 50px;
	box-shadow : 0 0 0 1px #111 inset;
}
.images label:nth-child(n+2) {
	margin-top : .65rem;
}
.images label:last-child {
	margin-bottom : .5rem;
}
/*.images label img */
.images img {
	display : inline-block;
	/*position : relative;
	top : -3px; */
	float : left;
	max-width : 55px;
    margin : auto 15px auto auto;
    padding : 4px;
    border : 1px solid #ddd;
}
input:checked + span img {
	border-color : inherit;
	/*border-right-color : transparent;*/
	/*box-shadow : 0 0 0 1px currentColor;*/
}
.images em {
	display : inline-block;
	float : left;
	padding-top : 15px;
	font-style : normal;
}

#filters .filter-card h2 {
	padding : 0;
	border-bottom : 0;
}
#filters .filter-card h2:before {
	display : none;
}
#slider {
	position : relative;
	margin-bottom : 1rem;
	padding : 1rem 0 0;
	border-bottom : 3px solid #111
}
#slider:before, #slider:after {
	display : block;
	position : absolute;
	top : 7px;
	z-index : 2;
	height : 1.25rem;
	width : 1.25rem;
	background : white;
	border : 1px solid #111;
	border-radius : 100%;
	box-shadow : 0 1px 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.075);
	content : "";
}
#slider:after {
	right : 0;
}
#slider span {
	position : absolute;
	/*top : 100%;*/
	bottom : 100%;
	/*margin-top : 1rem;*/
	color : #999;
	font-size : 14px;
}
#slider span:last-child {
	right : 0;
}
#toggle {
	position : relative;
	top : -2.375rem;
	float : right;
	height : 30px;
	width : 50px;
	background : #ddd;
	border-radius : 16px;
}
#toggle:before {
	display : block;
	position : absolute;
	top : 3px;
	left : 3px;
	height : 24px;
	width : 24px;
	background : white;
	border-radius : 18px;
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
	content : "";
	
	transition : left .25s ease-in-out;
}
#toggle.active {
	background : #111;
}
#toggle.active:before {
	left : 23px;
}
.filter > .tab, .filter-card > .tab {
	display : block;
	clear : right;
	/*background : #111;*/
	/*margin-top : .5rem;*/
	margin-bottom : .5rem;
	/*padding : 1px;*/
	/*border : 1px solid;*/
}
.filter-card > .tab {
	margin-top : .25rem;
}
.filter > .tab {
	margin-left : 1.25rem;
	margin-right : 1.25rem;
	padding : 0;
}
.tab span {
	display : block;
	position : relative;
	float : left;
	width : 33%;
	background : white;
	padding : .5rem 0;
	border-bottom : 1px solid #ddd;
	color : #666;
	cursor : pointer;
	text-align : center;
}
.tab span:active {
	background : #f7f7f7;
}
.four span {
	width : 25%;
}
.tab span:last-child {
	width : 34%;
}
.four span:last-child {
	width : 25%;
}
.tab .active {
	color : inherit;
}
.tab .active:active {
	background : white;
}
.tab .active:after {
	display : block;
	position : absolute;
	top : calc(100% - 4px);
	left : 0;
	height : 5px;
	width : 100%;
	background : #111;
	content : "";
}
/*.tab span:nth-child(n+2) {
	border-left : 1px solid;
}*/
/*.tab span.disabled, .tab span.disabled:active {
	background : #f7f7f7;
	border-left-color : #111;
	color : #999;
}*/

/** re-usable toggle **/
.toggle {
	display : block;
	position : relative;
	padding : 0 1.25rem 1.25rem;
}
.toggle span {
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 17px;
}
.toggle input + span:before {
	display : block;
	position : absolute;
	top : -1px;
	right : calc(1.25rem + 14px);
	z-index : 2;
	height : 24px;
	width : 24px;
	background : white;
	border : 0;
	border-radius : 18px;
	
	transition : right .25s ease-in-out;
}
.toggle input + span:after {
	position : absolute;
	top : -4px;
	right : 1.25rem;
	z-index : 1;
	height : 30px;
	width : 50px;
	background : #ddd;
	border-radius : 16px;
	content : "";
}

.toggle input:checked + span:before {
	right : calc(1.25rem - 5px);
	background : white;
}
.toggle input:checked + span:after {
	background : currentColor;
}

.filter:last-of-type {
	margin-bottom : 68px;
}

/** color UI **/
.color-wrap {
	/*margin : auto -4px .5rem !important;*/
	padding : 0 calc(1.25rem - 10px) !important;
}
.color {
	position : relative;
	float : left;
	width : calc(20% - 6px);
    margin : 0 3px .5rem;
    padding : 3px;
    border : 1px solid white;
    /*border-radius : 3px;*/
	font-size : 12px;
	text-align : center;
}
.color:nth-child(n+2) {
	margin-top : 0;
}
.color:nth-child(n+11) {
	margin-bottom : 0;
}
.color input + span:before {
	display : block;
	height : 40px;
	width : 40px;
	margin : auto auto.5rem;
	border : 0;
	border-radius : 100%;
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
}
/*.checked input + span:before {
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.5) inset;
}*/
.color input:checked + span:before {
	background-image : none;
}
.color input:checked + span:after {
	display: block;
	position : absolute;
	top : 8px;
	left : 50%;
	z-index : 3;
    height : 40px;
	width : 40px;
	background : url(../img/check-blk.png) no-repeat center;
	background-size : 66%;
	border-radius : 100%;
	margin-left : -20px;
    content : "";
}

/** colors **/
.black input + span:before,
.black input:checked + span:before {
	background-color : #111;
}
.white input + span:before,
.white input:checked + span:before {
	background-color : white;
}
.grey input + span:before,
.grey input:checked + span:before {
	background-color : grey;
}
.red input + span:before,
.red input:checked + span:before {
	background-color : red;
}
.blue input + span:before,
.blue input:checked + span:before {
	background-color : blue;
}
.beige input + span:before,
.beige input:checked + span:before {
	background-color : beige;
}
.pink input + span:before,
.pink input:checked + span:before {
	background-color : pink;
}
.green input + span:before,
.green input:checked + span:before {
	background-color : green;
}
.orange input + span:before,
.orange input:checked + span:before {
	background-color : orange;
}
.purple input + span:before,
.purple input:checked + span:before {
	background-color : purple;
}
.yellow input + span:before,
.yellow input:checked + span:before {
	background-color : yellow;
}
.brown input + span:before,
.brown input:checked + span:before {
	background-color : brown;
}
.silver input + span:before,
.silver input:checked + span:before {
	background-color : silver;
}
.gold input + span:before,
.gold input:checked + span:before {
	background-color : gold;
}
.multi input + span:before,
.multi input:checked + span:before {
	background : url(../img/multi.jpg) no-repeat center;
	background-size : 100%;
}

/** dark checks **/
.black input:checked + span:after,
.blue input:checked + span:after,
.brown input:checked + span:after,
.purple input:checked + span:after,
.grey input:checked + span:after,
.green input:checked + span:after,
.multi input:checked + span:after {
	background-image : url(../img/check-wht.png);
}

/** collection radios **/
.filter > .collections {
	margin-top : -.5rem;
	padding : 0 .75rem;
}
.collections label {
	display : table;
	float : left;
	height : 100px;
	width : 50%;
	padding : .5rem;
}
.collections .hidden {
	display : none;
}
.collections label:nth-child(n+2) {
	margin-top : 0;
}
/*.collections label:nth-child(n+3) {
	margin-bottom : 1rem;
}*/
.collections span {
	display : table-cell;
	height : 100px;
	padding : 0 .75rem;
	border : 1px solid;
	font-size : 15px;
	line-height : 1.25;
	text-align : center;
	vertical-align : middle;
}
.collections .checked span {
	background : #111;
	color : white;
}
.collections input + span:before {
	display : none;
}

.collections hr {
	clear : left;
}

/** light button **/
.light-btn {
	display : block;
	clear : left;
	width : calc(100% - 1rem);
	background : white;
	outline : none;
	margin : auto .5rem .5rem;
	padding : .4rem .5rem .35rem;
	border : 1px solid;
	font-family : inherit;
	font-size : 16px;
}
.light-btn:active {
	background : #ddd;
}
.light-btn:disabled {
	position : relative;
	border-color : #f7f7f7;
}
.light-btn:disabled:after {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	height : 100%;
	width : 100%;
	background : #f7f7f7 url(../img/loading-d.gif) no-repeat center;
	background-size : 24px;
	content : "";
}

/** non-size-wrapper **/
#non-size-filters {
	position : relative;
	left : 0;

	transition : left .25s ease-in-out;
}
#non-size-filters:before {
	display : none;
	position : absolute;
	top : -100px;
	left : 0;
	z-index : 6;
	height : calc(100% + 100px);
	width : 100%;
	/*background : rgba(0, 0, 0, 0.5);*/
	background : linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%,rgba(0, 0, 0, 0) 100%);
	content : "";
}
#non-size-filters.transitioning {
	left : -20vw;
}
#non-size-filters.opaque:before {
	display : block;
}

#size-wrapper {
	position : fixed;
	top : 0;
	left : 100vw;
	z-index : 7;
	min-height : 100vh;
    width : calc(100% + 2px);
    background : white;
    padding-bottom : 1rem;
    border-left : 2px solid rgba(0, 0, 0, 0.25);

    transition : left .25s ease-in-out;
}
#size-wrapper.left {
	left : -2px;
}
#size-wrapper.absolute; {
	position : absolute;
}
#size-wrapper h2:before {
	display : none;
}
#size-wrapper .intro button {
	top : 0;
	float : none;
	padding-left : 1rem; 
	font-family : inherit;
	font-size : 15px;
}
#size-wrapper .intro button:after {
	display : block;
	position : absolute;
	top : 50%;
	left : -.25rem;
	height : 1rem;
	width : 1rem;
	background : url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-256.png) no-repeat center;
	background-size : 30px;
	margin-top : -.5rem;
	content : "";

	transform : rotate(90deg);
}
#size-wrapper h3 {
	margin : 0;
	padding : 0 1.25rem;
	font-weight : normal;
	font-size : 15px;
	letter-spacing : 1.5px;
	text-transform : uppercase;
}
#size-wrapper .tab {
	/*margin-top : .25rem;*/
	margin-bottom : .85rem;
}

/** size-card **/
#size-card {
	position : relative;
	margin-top : .5rem;
	padding : .5rem .75rem;
	border : 1px solid #ddd;
}
#size-card:active {
	background : #f7f7f7;
}
#size-card:after {
	display : block;
	position : absolute;
	top : 50%;
	right : .5rem;
	height : 1.5rem;
	width : 1.5rem;
	background : url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-256.png) no-repeat center;
	background-size : 40px;
	margin-top : -.75rem;
	content : "";

	transform : rotate(-90deg);
}
#size-card h2 {
	background : none;
}

#size, #size2 {
	display : block;
	/*background : #ddd;*/
	margin : auto 1rem 1rem;
	padding : 1px 0;
	/*border-collapse : collapse;*/
}
#size {
	margin-bottom : 1.5rem;
}
#size label, #size2 label {
	display : block;
	float : left;
	width : calc(20% - 1px);
	background : white;
	/*margin : 0 .5px;*/
	padding : .25rem;
	text-align : center;
}
.size label:nth-child(n+2) {
	margin-top : 0;
}
/*#size label:nth-child(n+6), #size2 label:nth-child(n+6) {
	margin-top : 1px;
}*/
.size span {
	display : block;
	padding : .5rem;
	border : 1px solid;
}
#size span:before, #size2 span:before {
	display : none;
}
/*#size .checked, #size2 .checked {
	background : #111;
	box-shadow : 0 0 0 1px #111;
	color : white;
}*/
.size .checked span {
	background : #111;
	color : white;
}

#apply {
	position : absolute;
	bottom : 0;
	left : 0;
	z-index : 7;
	width : 100%;
	background : white;
	padding : .75rem;
	border-top : 1px solid #ddd;

	transition : left .25s ease-in-out;
}
#apply:before {
	display : block;
	position : absolute;
	bottom : calc(100% + 1px);
	left : 0;
	height : 1rem;
	width : 100%;
	background : linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.5) 100%);
	content : "";
}
#apply.loaded {
	position : fixed;
}
#apply.left {
	left : -100%;
}
#apply button {
	display : block;
	/*float : left;
	width : 60vw;*/
	width : 100%;
	background : #111;
	padding : .75rem 0 .7rem;
	color : white;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	font-size : 17px;
}
/*#apply button:nth-child(2) {
	float : right;
	width : 30vw;
	background : white;
	box-shadow : 0 0 0 1px #999 inset;
	color : #111;
}*/
#apply button:active {
	color : rgba(255, 255, 255, 0.75);
}
/*#apply button:nth-child(2):active {
	background : #efefef;
}*/
#apply button:disabled {
	position : relative;
}
#apply button:disabled:after {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	height : 100%;
	width : 100%;
	background : #111 url(../img/loading.gif) no-repeat center;
	background-size : 24px;
	content : "";
}
#apply button:nth-child(2):disabled:after {
	background : #efefef url(../img/loading-d.gif) no-repeat center;
	background-size : 24px;
	/*box-shadow : 0 0 0 1px currentColor inset;*/
}
#apply span {
	display : block;
	clear : both;
	/*width : 60vw;*/
	margin-bottom : -.5rem;
	padding-top : .25rem;
	color : #999;
	font-size : 11px;
	text-align : center;
}
#apply span:before {
	content : "We found ";
}
#apply span:after {
	content : " items";
}

.intro {
	position : relative;
	left : 0; 
	background : #f7f7f7;
	padding : .75rem 1.25rem;
	border-bottom : 1px solid #ddd;
	color : #333;

	transition : left .25s ease-in-out;
}
.intro.left {
	left : -20vw;
}
.intro button {
	position : relative;
	top : -5px;
	float : right;
	background : none;
	font-size : 24px;
}
.intro button:after {
	content : "\2715";
}

#ajax-overlay {
	position : fixed;
	top : 0;
	left : 0;
	z-index : 5;
	height : 100vh;
	width : 100vw;
	background : rgba(255, 255, 255, 0.5) url(../img/loading-d.gif) no-repeat center;
	background-size : 50px;
}


#iframe {
	min-height : 100%;
	height : 100%;
	background : #efefef;
	padding : 3rem;
}
iframe {
	display : block;
	height : 650px;
	width : 340px;
	background : #999;
	margin : auto;
	padding : 70px 10px 50px;
	border-radius : 8px; 
	box-shadow : 0 0 0 2px #999;
}
.is-tablet iframe {
	height : 1084px;
	width : 780px;
}






@keyframes fadeIn {
	0% {
		display : none;
		top : 50%;
		opacity : 0;
	}
	100% {
		display : block;
		top : 100%;
		opacity : 1;
	}
}