@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}

* {
    box-sizing : border-box;
    border : 0;
    margin : 0;
    padding : 0;
    font : normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color : rgba(0,0,0,0);
}
.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
html {
    background : #ddd;
}
body {
    background : white;
}
header {
    position : relative;
    height : 64px;
    background : #111;
}
header > a {
    display : block;
    position : absolute;
    top : 15px;
    left : 15px;
    height : 34px;
    width : 34px;
    background : white;
    border-radius : 100%;
}
nav {
    height : 50px;
    border-bottom : 1px solid rgba(0,0,0,0.25);
    text-align : center
}
h2, h3, h4, h5 {
    font-variant : normal;
}
#items {
    background : #efefef;
    padding : .5rem .5rem 0;
    text-align : center;
}
#items div {
    position : relative;
    background : white;
    padding : 1rem;
}
#items div + div {
    border-top : 2px solid #efefef;
}
#items.collection div + div {
    border-top : .5rem solid #efefef;
}
#items .msg {
    margin : 1.5rem 0;
}
#item-container-tbl .msg {
    margin : 0;
}
#items .b {
    margin : .75rem 0 1rem;
}
#items small {
    display : inline-block;
    color : #999;
    font-size : 13px;
    text-decoration : underline;
}
#items a {
    display : block;
    position : relative;
    z-index : 1;
    color : inherit;
    text-decoration : none;
}
#items a:active {
    opacity : .65;
}
#items .mkt-cta {
    background : #2a2a2a;
    /*background : url(https://item1.tradesy.com/images/homepage/2283bb4e-d902-fe63-9c3d-1632607849ab_The-October-Issue-600x620.jpg) no-repeat top center;
    background-size : cover;*/
    /*text-align : left;*/
}
#items .mkt-cta span {
    display : block;
    /*background : rgba(0, 0, 0, 0.8);*/
    max-width : 20rem;
    margin : 0 auto .5rem;
    padding : 1rem 1rem .85rem;
    color : white;
    line-height : 1;
    text-decoration : none;
}
#items em {
    display : block;
    margin : .5rem 0 0;
    color : white;
    font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
    letter-spacing : 1.5px; 
    text-indent : 1.5px;
    text-transform : uppercase;
}
/*#items .mkt-cta em:after {
    display : block;
    position : relative;
    top : -4px;
    left : 1px;
    height : 1px;
    width : 98%;
    background : currentColor;
    content : "";
}*/
#items .btn {
    /*display : inline-block;
    background : #111;
    margin-bottom : .5rem;
    padding : .5rem 1rem;
    color : white;*/
    /*margin-top : .5rem;*/

    background : rgba(255, 255, 255, 0.75);
    /*background : white url(img/arrow-right.png) no-repeat 95% 15px;
    background-size : 10px;*/
    margin : 1px 0 .5rem;
    padding : .75rem 1rem;
    /*border-top : 1px solid #ddd;*/
    text-align : left;
}
#items .cta {
    background : #111;
    color : white;
    /*box-shadow : 0 0 0 1px #ddd inset;*/
    letter-spacing : 1.5px;
    text-align : center;
    text-indent : 1.5px;
    text-transform : uppercase;
}
.btn:after {
    display : block;
    position : relative;
    top : .075rem;
    float : right;
    height : 1.25rem;
    width : 1.25rem;
    background : white url(img/arrow-right.png) no-repeat center;
    background-size : 70%;
    border-radius : 100%;
    border : 1px solid rgba(0, 0, 0, 0.125);
    content : "";
}
.cta:after {
    display : none; 
}
#items hr {
    height : 1px;
    background : #ddd;
    margin : 1.5rem 0;
    border : 0;
}
#items figure {
    display : table;
    height : 150px;
    width : 100%;
    margin-bottom : 1rem;
}
#items figure div {
    display : table-cell;
    height : 150px;
    padding : 0;
    vertical-align : bottom;
}
#items img {
    display : block;
    max-height : 150px;
    max-width : 150px;
    margin : auto;
}
#items.collection img {
    display : inline-block;
}
#items.collection img:nth-child(2) {
    margin-left : 2rem;
}
#items h2 {
    /*margin-bottom : .125rem;*/
    font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
    font-size : 18px;
    /*font-weight : bold;*/
    letter-spacing : 1.5px;
    text-indent : 1.5px;
    text-transform : uppercase;
}
#items h3 {
    max-width : 90%;
    overflow : hidden;
    margin : 0 auto;
    font-size : 18px;
    text-overflow : ellipsis;
    white-space : nowrap;
}
#items h4 {
    font-size : 18px;
    font-weight : bold;
}
#items h5 {
    /*position : absolute;
    z-index : 1;
    top : 1rem;
    left : 1rem;*/
    display : none;
    background : white;
    padding : .5rem .5rem 0;
    /*margin-bottom : .25rem;*/
    color : #999;
    letter-spacing : 1.5px;
    text-align : left; 
    text-indent : 1.5px;
    text-transform : uppercase;
}
#items span {
    margin-left : .5rem;
    color : #999;
    font-weight : normal;
    text-decoration : line-through;
}
#items button {
    position : absolute;
    top : 1rem;
    right : 1rem;
    z-index : 2;
    height : 24px;
    width : 22px;
    background : url(https://cdn0.iconfinder.com/data/icons/octicons/1024/heart-128.png) no-repeat center;
    background-size : contain;
    outline : none;
    opacity : .5;
}
#items button:active {
    opacity : .25;
}
#items button[data-num] {
    margin-right : 1.25rem;
}
[data-num]:after {
    display : inline-block;
    position : absolute;
    top : .2rem;
    right : -1.25rem;
    width : 1rem;
    /*color : #ccc;*/
    content : attr(data-num);
    font-size : 12px;
    text-align : center;
}
#items.collection .title {
    background : #111;
    margin : 0 -1rem -1rem;
    padding : 1rem;
}
.title h3 {
    color : #999;
}
#items .title h2 {
    color : white;
    letter-spacing : normal;
    text-indent : 0;
    text-transform : none;
}

.block {
    display : block;
    background : rgba(0, 0, 0, 0.25);
    /*background : url(https://item1.tradesy.com/images/homepage/4e6d8ae6-a867-ac78-19e4-a76b39198ccd__plaid-trend-600x620.jpg) no-repeat center;
    background-size : cover;*/
    height : 300px;
}
.footer {
    background : #111;
}
#items .block {
    margin : .5rem 0;
}
#items .footer {
    margin : .5rem -.5rem 0;
}

#item-container-tbl {
    display : none;
}

@media screen and (min-width : 375px) {

    #items.collection img:nth-child(2) {
        margin-left : 3rem;
    }

}

@media screen and (min-width : 414px) {

    #items div {
        padding : 1.5rem;
    }
    #item button {
        top : 1.5rem;
        right : 1.5rem;
    }

}

@media screen and (min-width : 768px) {

    /*#items > div {
        width : 50%;
        float : left;
    }
    #items div + div, #items.collection div + div {
        border-top : 0;
        border-left : 2px solid #efefef;
    } 
    #items hr, #items .btn {
        display : none;
    }*/
    #items {
        padding : 1.5rem 1.5rem 0;
    }
    #items .btn, #items .mkt-cta {
        margin-bottom : 1.5rem;
    }
    #items .mkt-cta span {
        max-width : 100%;
    }
    #item-container .msg {
        display : none;
    }
    #items .cta {
        margin-bottom : 1.5rem;
    }
    #item-container {
        max-width : 400px;
        float : left;
    }
    #items .block {
        margin : 1.5rem 0;
    }
    #items .footer {
        margin : 1.5rem -1.5rem 0;
        clear : both;
    }
    #item-container-tbl {
        display : block;
        float : right;
        width : 300px;
        padding-top : 1.5rem;
    }

}