@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,.desk-nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after, .clr {
    clear: both;
}

html, body {
	background: white;
	color: #949d99;
	font: normal 100%/1.5 'proxima-nova-regular', sans-serif;
	height: auto;
	min-height: 100%;
	width: 100%;
}
strong, h1, h2, h3 {
	font-family: 'proxima-nova-semi', sans-serif;
	font-weight: normal;
}
a {
	color: #ee7873;
}

body {
	max-width: 1400px;
	margin: auto;
	padding: 1rem;
}
header {
	background: #111;
	height: 3rem;
	margin: -1rem -1rem 3rem;
}
.clr {
	clear: both;
}

h1 {
	color: #111;
	font-family: 'proxima-nova-regular', sans-serif;
	margin: 0 0 1rem;
}
h1 small {
	color: #666;
	display: block;
	font-size: 13px;
}

.product {
	display: inline-block;
	float: left;
	padding: 3px;
	position: relative;
	/*text-align: center;*/
	width: 50%;
}
.product:nth-child(n+3) {
	margin-top: 1rem;
}
.product a {
	/*box-shadow: 0 0 0 1px #efefef inset;*/
	color: #111;
	display: block;
	padding: 1rem;
	position: relative;
	text-decoration: none;
}
/*span.is-sold, span.on-sale {
	position: absolute;
	top: 1px;
	left: 3px;
	width: 100%;
}*/
/*.is-sold:after,
.on-sale:after {
	background: #999;
	color: white;
	content: "Item Sold";
	display: inline-block;
	font-size: 13px;
	line-height: 1;
	margin: auto;
	padding: .3rem .35rem .225rem;
	position: absolute;
	top: 3px;
	left: 3px;
}
.on-sale:after {
	background: #ee7873;
	color: white;
	content: "On Sale"
}*/
.product:hover a {
	box-shadow: 0 0 0 1px #ccc inset;
}
.product figure {
	display: table;
	width: 100%;
}
.product div {
	display: table-cell;
	height: 170px;
	max-width: 150px;
	vertical-align: middle;
}
/*.is-sold div:after {
	background: white;
	color: #111;
	content: "Item sold";
	letter-spacing: 1.5px;
	line-height: 1;
	position: absolute;
	top: 102px;
	left: 0;
	padding: .15rem 0 .125rem;
	width: 100%;
	text-transform: uppercase;
}*/
.product img {
	display: block;
	max-height: 120px;
	max-width: 100%;
	margin: auto;
}

.product h2, .product h3, .product h4 {
	font-size: 15px;
	margin: 0;
	padding: 0;
	margin: auto;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.on-sale h4 {
	color: #7dccad;
}
.product a:after {
	display: inline-block;
	content : "";
	position: absolute;
	top: 1rem;
	right: 1.55rem;
	background: url(https://cdn4.iconfinder.com/data/icons/48-bubbles/48/39.Heart-128.png) no-repeat center;
	background-size: cover;
	height: 15px;
	width: 15px;
	opacity: .5;
}
.product a:before {
	position: absolute;
	top: 1.05rem;
	right: 1rem;
	font-size : .65rem;
	content : attr(data-num);
	color: #999;
}
.product h2 {
	/*letter-spacing: 1.5px;*/
	line-height: 1.2;
	/*text-transform: uppercase;*/
}
.product h3 {
	display: none;
	font-family: 'proxima-nova-regular', sans-serif;
	line-height: 1.2;
	margin-bottom: .5rem;
}
.product h4 {
	font-family: 'proxima-nova-semi', sans-serif;
	font-weight: normal;
	height: 23px;
}
.product h4 span {
	color: #999;
	font-family: 'proxima-nova-regular', sans-serif;
	padding-left: .15rem;
	text-decoration: line-through;
}
/*.product h4 .tag {
	color: white;
	display: inline-block;
	font-size: .75rem;
	letter-spacing: 1.5px;
	line-height: 1;
	margin-right: .15rem;
	padding: .25rem .35rem;
	position: relative;
	top: -1px;
	text-decoration: none;
	text-transform: uppercase;
}*/
.tag {
	color: white;
	display: inline-block;
	font-size: .75rem;
	/*border-radius: 3px;*/
	/*letter-spacing: 1.5px;*/
	line-height: 1;
	margin-right: .15rem;
	padding: .25rem .25rem .25rem .35rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	letter-spacing: 1.5px;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 10;
}
.sale {
	background: #7dccad;
}
.reserved {
	background: #111;
}
.sold {
	background: #111;
}

.is-sold a {
	/*color: #999;*/
	/*box-shadow: 0 0 0 1px #efefef inset;*/
}
.is-sold div {
	position: relative;
}
.is-sold div span {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 2;
	color : white;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: .75rem;
}
.is-sold div span:after {
	display: inline-block;
	padding: .25rem .35rem;
	background: #111;
	line-height: 1;
	content : "Sold";
}
.is-sold a:hover {
	color: #111;
}
.is-sold:hover div span {
	display: none;
}
.is-sold img {
	/*opacity: .5;*/
	position: relative;
	z-index: 1;
}
.is-sold:hover img {
	opacity: 1;
}
.is-sold h4 {
	color: #999;
}
.is-sold h4:before {
	content: "Sold for ";
}

.product:active img, .is-sold:active img {
	opacity: .5;
	position: relative;
	top: 1px;
}

@media screen and (max-width: 400px){
	h1 {
		font-size: 24px;
		margin-top: -1rem;
		text-align: center;
	}
	.product a {
		padding: 2rem .75rem .75rem;
	}
	.product:nth-child(n+3) {
		margin-top: .5rem;
	}
	.product div {
		height: 120px;
		/*vertical-align: top;*/
	}
	.product img {
		max-height: 100px;
		max-width: 100%;
	}
	.product h2, .product h3, .product h4{
		font-size: 13px;
	}
	.tag {
		letter-spacing: normal;
		text-transform: none;
	}
	.product a:before {
		display: none;
	}
	.product a:after {
		right: 1rem;
	}
}

@media screen and (min-width: 401px){
	/*.product {
		display: inline-block;
		width: 50%;
		float: left;
	}*/
	.product a {
		padding: 1.5rem;
	}
	.product h4 .tag {
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}
}
@media screen and (min-width: 551px){
	.product h2 {
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}
	.product h3 {
		display: block;
	}
}
@media screen and (min-width: 731px){
	.product {
		width: 33%;
	}
	.product:nth-child(n+3) {
		margin-top: 0;
	}
	.product:nth-child(n+4) {
		margin-top: 1rem;
	}
}
@media screen and (min-width: 1001px){
	body {
		padding: 2rem 0;
	}
	header {
		margin: -2rem 0 2rem;
	}
	.product {
		width: 25%;
		/*padding: 10px;*/
	}
	.product:nth-child(n+4) {
		margin-top: 0;
	}
	.product:nth-child(n+5) {
		margin-top: 2rem;
	}
	/*.is-sold:after, .on-sale:after {
		top: 10px;
		left: 10px;
	}*/
	.products {
		float: right;
		width: 82.5%;
	}
	aside {
		background: #ddd;
		float: left;
		height: 600px;
		width: 15%;
		position: relative;
		top: -4.5rem;
	}
}
@media screen and (min-width: 1201px){
	.product {
		padding: 10px;
	}
	.is-sold:after, .on-sale:after {
		top: 10px;
		left: 10px;
	}
}