* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
body {
    background: white;
    font: normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
    /*max-width: 320px;*/
    /*margin: auto;*/
}
h1, h2 {
    font-weight: normal;
}
h2 {
    color: #999;
    margin: 0;
}
small {
    color: #999;
    display: block;
    font-size: 13px;
    line-height: 1.2;
    margin-top: -1rem;
    position: relative;
    z-index: 2;
}
header {
    background: #111;
    height: 74px;
    position: relative;
}
header:before {
    background: url(http://wtf.jefff.co/Tradesy-Comps/images/gem-white.png) no-repeat center;
    background-size: 45px;
    content: "";
    cursor: pointer;
    display: block;
    height: 45px;
    position: absolute;
    top: .85rem;
    left: .625rem;
    width: 45px;
}
header a {
    background: url(http://wtf.jefff.co/Tradesy-Comps/images/bag.png) no-repeat center;
    background-size: 35px;
    display: block;
    height: 40px;
    position: absolute;
    top: 1.075rem;
    right: 8rem;
    /*left: 4rem;*/
    width: 40px;
}
header a:after {
    background: #999;
    border-radius: 100%;
    color: white;
    content: attr(data-num);
    font-size: 14px;
    line-height: 1;
    padding: .35rem 0;
    position: absolute;
    top: -.125rem;
    right: -.5rem;
    /* height: 1.25rem; */
    width: 1.5rem;
    text-align: center;
    /* display: none; */
}
/* header:active:before,  */header a:active, button:active {
    opacity: .65;
}
button {
    background: url(http://wtf.jefff.co/Tradesy-Comps/images/search-w.png) no-repeat;
    background-size: 30px;
    cursor: pointer;
    display: block;
    height: 40px;
    position: absolute;
    top: 1.25rem;
    right: 4.5rem;
    /*left: 3.5rem;*/
    outline: none;
    width: 40px;
}
button.show, header a.show {
    opacity: .65;
}
button:active, header a:active {
    opacity: .5;
}
.menu {
    /*background: white;*/
    /*position: relative;*/
    background: none;
    /*box-shadow: 0 0 0 1px currentColor inset;*/
    color: white;
    font-family: 'proxima-nova-semi';
    font-size: 18px;
    border-radius: 3px;
    height: auto;
    top: 1.125rem;
    right: .625rem;
    left: auto;
    padding: 0 .5rem;
    height: 40px;
    width: 4.25rem;

    /*background: white;
    color: #111;
    font-size: 15px;
    border-radius: 0;
    height: 64px;
    top: 0;
    right: 0;
    left: auto;
    padding: 0 .5rem;
    width: 4.5rem;*/

    /*letter-spacing: 1.5px;
    text-indent: 1.5px;
    text-transform: uppercase;*/

}
.menu:before {
    display: block;
    position: absolute;
    left: -23px;
    top: 5px;
    background: url(http://wtf.jefff.co/Tradesy-Comps/images/search-w.png) no-repeat;
    background-size: 27px;
    height: 30px;
    width: 30px;
    content: "";
}
.menu:after {
    display: none;
    background: white;
    height: 2px;
    width: 2.5rem;
    margin: auto;
    content: "";
}
.c:before {
    background: none;
    content: "\2715";
    color: currentColor;
    font-size: 2rem;
    top: -5px;
}
.c:after {
    width: 2.15rem;
}
/*.menu.c {
    background: #111;
    box-shadow: 0 0 0 1px currentColor inset;
    color: white;
}*/
/*.menu.c:before {
    position: absolute;
    top: .175rem;
    left: .35rem;
    content: "\2715";
    font-size: 1rem;
}*/
/* header:after {
    background: white;
    content: "";
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    opacity: .5;
    top: .5rem;
    right: .5rem;
    width: 30px;
} */

nav {
    background: #2a2a2a;
    position: relative;
    text-align: center;
}
/*nav:before {
    background: -webkit-linear-gradient(top, transparent 0%, white 75%);
    display: block !important;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
nav:after {
    background: white;
    box-shadow: 0 0 0 1px #ddd inset;
    color: #777;
    content: "content here..." !important;
    display: block;
    height: 200px;
    padding-top: 100px;
    text-align: center;
    width: 100%;
}*/
nav a {
    color: white;
    display: block;
    float: left;
    letter-spacing: 1.5px;
    padding: 1.25rem 0;
    text-decoration: none;
    text-indent: 1.5px;
    text-transform: uppercase;
    width: 50%;
    font-size: 1.25rem;
}
nav a:active {
    background: rgba(0,0,0,0.25);
    color: rgba(255,255,255,0.75);
}
nav a:active:before {
    opacity: .65;
}
.three a {
    width: 35%;
}
.logged a {
    width: 32.5%;
}
.three a:last-child {
    width: 30%;
}
.logged a:last-child {
    width: 35%;
}
nav a:nth-child(n+2) {
    box-shadow: 1px 0 0 rgba(0,0,0,0.25) inset;
}
.logged a:last-child {
    position: relative;
    height: 100%;
    min-height: 4.3rem;
    padding: 0;
}
.logged a:last-child span {
    display: table;
    width: 100%;
}
.logged a:last-child span span {
    display: table-cell;
    height: 4.3rem;
    vertical-align: middle;
    font-size: .75rem;
    letter-spacing: normal;
    text-transform: none;
}
.logged a:last-child em {
    display: block;
    position: relative;
    margin: auto;
    height: 35px;
    width: 35px;
    float: left;
    left: 1rem;
    background: #111 no-repeat center;
    background-size: 100%;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
}
.logged abbr {
    position: relative;
    top: .5rem;
}
.logged .show:after {
    position: absolute;
    left: 23px;
    top: 100%;
    margin-top: -9px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
}
/*.logged a:last-child:before {
    background: url(https://item1.tradesy.com/r/9fca2d94ea38c2395f614eb5a1c84983a02c9d50ca070519c2df813c47998dc9/200/200/temp/temp.jpg) no-repeat center center;
    background-size: 115%;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
    position: absolute;
    top: 35%;
    left: 27.5%;
    content: "";
    display: block;
    height: 30px;
    margin: auto;
    width: 30px;
    z-index: 1;
}*/
.logged a:last-child em:after {
    background: #ee7873;
    border-radius: 100%;
    color: white;
    content: attr(data-num);
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    padding: .3rem 0 .25rem;
    position: absolute;
    top: -.5rem;
    right: -.45rem;
    /*height: 1rem;*/
    width: 1.4rem;
    text-align: center;
    z-index: 2;
}
.logged a:last-child:active:after {
    /*background: #e94e47;*/
    /*color: rgba(255, 255, 255, 0.75);*/
}
.logged .show:active:after {
    background: none;
}

div {
    background: white;
    /* box-shadow: 1px 0 0 #111; */
    /*border-left: 1px solid #111;
    border-right: 1px solid #111;*/
    clear: both;
    display: none;
    text-align: center;
}
div.show {
    display: block;
    /*max-height: 100%;*/
    /*opacity: 1;*/
    /*animation: fadeIn 1s ease-in-out;*/
}
div div {
    /* background: #efefef; */
    border: 0;
    border-top: 1px solid #ddd;
    /* text-align: left; */
}
div div a {
    float: none;
    letter-spacing: normal;
    padding: .5rem 1rem;
    text-align: left;
    /* text-decoration: underline; */
    text-transform: none;
    width: 100%;
}
div div a:nth-child(n+2) img {
    display: block;
    max-width: 10px;
    float: right;
    position: relative;
    top: 6px;
}
div div a:nth-child(n+3) {
    border-top: 1px solid #ddd;
}
div div a:first-child {
    margin: .5rem 0 .125rem;
}
div div a:first-child:active {
    background: none;
}
div div a span {
    /* background: #2a2a2a; */
    background: #ee7873;
    border: 0;
    border-radius: 3px;
    color: white;
    letter-spacing: 1.5px;
    padding: .65rem 0 .85rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /*width: 90%;*/
}
div div a span:active {
    opacity: .65;
}
div div a span:before {
    background: url(https://s3.amazonaws.com/f.cl.ly/items/2f0H0W1S0Y1P3t1Y121n/apple-logo-clr.png) no-repeat center;
    background-size: 25px;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    padding: 2px;
    position: relative;
    top: 4px;
    left: -4px;
    width: 20px;
}
div a {
    background: white;
    /* border-bottom: 1px solid #111; */
    /* box-shadow: 0 0 0 1px #111 inset; */
    color: #111;
    display: block;
    float: left;
    letter-spacing: 1.5px;
    padding: .825rem 0;
    text-decoration: none;
    text-indent: 1.5px;
    text-transform: uppercase;
    width: 50%;
}
div a:active {
    background: #efefef;
    color: #777;
    text-decoration: none;
}
div hr {
    height: 1px;
    width: 100%;
    background: #ddd;
}
div span {
    border-top: 1px solid #ddd;
    clear: both;
    display: block;
}
div span a {
    /* letter-spacing: normal; */
    /* text-decoration: underline; */
    /* text-transform: none; */
    width: 33%;
}
div span a:last-child {
    width: 34%;
}
/* div a:nth-child(odd) {
    border-right: 1px solid #111;
} */
div .text {
    border-top: 1px solid #ddd;
    clear: both;
    color: #777;
    float: none;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: underline;
    width: 100%;
}
.ld {
    /* background: #efefef; */
}
.ld:after {
    background: url(https://stage.tradesy.com/images/loading.gif) no-repeat center;
    background-size: 75px;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 15px;
    /* margin-left: 5px; */
    position: relative;
    top: 1px;
    width: 15px;
}
.sh {
    background: #efefef;
}
section {
    /*border: 1px solid #ddd;*/
    padding: .5rem;
    text-align: center;
}
section a {
    color: #111;
    display: block;
    float: left;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: .5rem;
    text-decoration: none;
    text-indent: 1.5px;
    text-transform: uppercase;
    width: 50%;
}
.thk {
    padding: 0;
}
.thk a {
    /* border-bottom: 1px solid #111; */
    font-size: 100%;
    padding: 1rem;
    text-decoration: none;
}
.thk a:active {
    background: #efefef;
    color: #999;
    text-decoration: none;
}
.thk a:nth-child(odd) {
    /* border-right: 1px solid #111; */
}
section a:nth-child(n+3) {
    margin-top: .5rem;
}
.thk a:nth-child(n+3) {
    margin-top: 0;
}
section a img {
    display: block;
    margin: auto auto 1rem;
    max-width: 50px;
}
section + section {
    border-top: 0;
}
section h1 {
    clear: both;
    font-weight: normal;
    padding: .5rem;
    text-align: left;
}

#my-bag {
    position: relative;
    padding: 1.5rem;
    border-bottom: 1px solid #ddd;
}
#my-bag p {
    font-size: 14px;
}
#my-bag a {
    display: inline;
    float: none;
    width: 100%;
    padding: 0;
    color: #ee7873;
    letter-spacing: normal;
    text-decoration: underline;
    text-transform: none;
}
#my-bag img {
    display: block;
    max-width: 35px;
    margin: 2rem auto 1rem;
}
#my-bag del {
    /*position: absolute;
    top: 1rem;
    right: 1rem;*/
    display: block;
    margin: 1.5rem 0 0;
    text-align: center;
    text-decoration: none;
}
#my-bag del:after {
    color: #999;
    content: "\2715";
    font-size: 2rem;
}
#my-bag del:active {
    opacity: .65;
}

#my-account a {
    float: none;
    letter-spacing: normal;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
    text-transform: none;
    width: 100%;
}
#my-account em {
    color: #999;
    font-style: normal;
}
#my-account img {
    display: block;
    max-width: 10px;
    float: right;
    position: relative;
    top: 6px;
}

#search-form {
    clear: both;
    /*display: none;*/
    border-top: 1px solid #111;
}
#search-form.show {
    display: block;
}
#search-form fieldset {
    position: relative;
}
#search-form input {
    font-family: inherit;
    outline: none;
}
#search-form input[type=search] {
    background: white;
    border: 0;
    width: 100%;
    font-size: 16px;
    padding: 1rem;
}
#search-form input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background: #2a2a2a;
    color: white;
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 2;
    padding: .25rem .5rem;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-indent: 1.5px;
    text-transform: uppercase;
}
#search-form input[type=submit]:active {
    background: #111;
    color: rgba(255,255,255,0.75);
}

footer {
    background: #111;
    margin-top: 1000px;
    text-align: center;
}
footer small, [role=main] small {
    display: block;
    padding: 10rem 0;
    color: white;
}
[role=main] small {
    color: #111;
}

@-webkit-keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}