@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
	font : normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}
body {
	max-width : 30rem;
	margin : auto;
	padding : 2rem;
}
h1 {
	margin-bottom : .25rem;
	font-size : 30px;
	line-height : 1;
}
h2 {
	font-size : 20px;	
}
h2 {
	margin-bottom : .5rem;	
}
h2/*, h3*/ {
	/*margin-top : 1rem;*/
	padding-top : 2rem;
	border-top : 1px solid #ddd;
	font-family : 'proxima-nova-semi', 'Helvetica Neue', sans-serif;
	letter-spacing : 1px;
	text-indent : 1px;
	text-transform : uppercase;
}
/*h3 {
	letter-spacing : 1px;
	text-indent : 1px;
	text-transform : uppercase;
}
h3.l {
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	font-size : 15px;
	letter-spacing : normal;
	text-indent : 0;
	text-transform : none;
}*/

hr {
	height : 1px;
	background : #ddd;
	margin : 0 0 2rem;
	border : 0;
}
form hr {
	background : none;
	margin : 1rem 0;
}
form .min {
	height : .5rem;
	margin : 0;
}
fieldset:nth-child(n+2) {
	margin-top : 3rem;
}

p, input, textarea {
	font-family : inherit;
	font-size : 16px;
}
input, textarea, button {
	outline : none;
	-webkit-appearance : none;
	-webkit-border-radius : 0;
}
input, textarea {
	border : 1px solid #ddd;
}
input:focus, textarea:focus {
	/*box-shadow : 0 0 0 2px #BEE1ED;*/
	border-color : #111;
}
label {
	display : block;
	position : relative;
}
.two label {
	width : 50%;
	float : left;
	padding-right : .5rem;
}
.two label:last-child {
	padding-left : .5rem;
	padding-right : 0;	
}
.three label {
	width : 33%;
	float : left;
	padding-right : .5rem;
}
.three label:nth-child(n+3) {
	padding-left : .5rem;
	padding-right : .5rem;
}
.three label:last-child {
	width : 34%;
	padding-left : .5rem;
	padding-right : 0;	
}
label span {
	display : block;
	cursor : pointer;
}
/*.toggleable input {
	max-width : 85%;
	float : left;
	border-left : 0;
}*/
.toggleable em {
	/*min-width : 15%;
	width : 2rem;
	float : right;
	padding : .55rem .75rem;
	border : 1px solid #ccc;
	border-left : 0;*/
	position : absolute;
	top : 2.55rem;
	right : 1rem;
	color : #ee7873;
	cursor : pointer;
	/*line-height : 1.4;*/
	text-align : center;
}
.toggleable em:active {
	opacity : .65;
}
label span, h3 {
	margin-bottom : .5rem;
}
label .cf {
	margin-bottom : 0;
}
.opt:after {
	display : inline-block;
	position : relative;
	top : 4px;
	float : right;
	color : #999;
	content : "Optional";
	font-family : 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	font-size : 12px;
	letter-spacing : normal;
	text-indent : 0;
	text-transform : none;
}

/*** validation ***/
.good:after, .bad:after {
	display : inline-block;
	position : absolute;
	top : 2.7rem;
	right : .8rem;
	height : 20px;
	width : 20px;
	background : url(../img/check-green.svg) no-repeat center;
	background-size : 16px;
	content : "";
}
.bad:after {
	top : 2.45rem;
	right : .3rem;
	background : none;
	color : red;
	content : "!";
	font-size : 20px;
}
.bad input {
	border-color : red;
}
[data-content] {
	/*padding-left : 2rem;*/
}
[data-content] input[type=text] {
	/*margin-left : -2rem;*/
	padding-left : 1.75rem;
}
[data-content]:before {
	display : block;
	position : absolute;
	top : 2.6rem;
	left : .75rem;
	/*height: 40px;*/
	/*width : 1.99rem;*/
	/*background : #efefef;*/
	/*border : 1px solid #ddd;
	border-right : 0;*/
	color : #999;
	content : attr(data-content);
	/*line-height : 2.6; */
	/*text-align : center;*/
}

/*** text inputs ***/
input[type=text], input[type=password], input[type=search] {
	display : block;
	width : 100%;
	padding : .5rem .6rem;
}
input[type=text]:disabled {
	background : #efefef;
	color : #999;
	cursor : not-allowed;
}
small {
	display : block;
	/*visibility : hidden;*/
	margin-top : .25rem;
	color : #999;
	font-size: 13px;
}
small + small {
	margin-top: 0;
}
.error {
	/*display : block;
	visibility : visible;*/
	color : red;
}
/*.note {
	display : block;
	visibility : visible;
}*/
/*input:focus + small, textarea:focus + small {
	display : block;
	visibility : visible;
}*/

/*** search ***/
.search {
	position : relative;
}
.search button {
	position : absolute;
	top : 1px;
	right : 1px;
	z-index : 2;
	height : 40px;
	min-width : 0; 
	width : 42px;
	background : url(../img/search.svg) no-repeat center;
	background-size : 26px;
	text-indent : -9999px;
}
.search button:active {
	background-color: transparent;
	/*background : url(../img/search.svg) no-repeat center;
	background-size : 26px;*/
	opacity : .5;
}
#komplete {
	display : none;
	position : absolute;
	top : 2.55rem;
	z-index : 2;
	width : 100%;
	background : white;
	border : 1px solid #ccc;
}
#komplete a {
	display : block;
	padding : .5rem .75rem;
	text-decoration : none;
	color : #111;
}
#komplete a:hover {
	background: #efefef; 
}
#komplete a:nth-child(n+2) {
	border-top : 1px solid #ddd;
}
#komplete span {
	color : #999;
	font-size : 90%;
}
#komplete a:hover span {
	color : inherit;
}

/*** textarea ***/
textarea {
	display : block;
	min-height : 75px;
	max-height : 300px;
	max-width : 480px;
	width : 100%;
	padding : .5rem;
}

/*** select ***/
.select-wrap {
	position : relative;
	overflow : hidden;
	/*padding : .5rem .75rem;*/
	border : 1px solid #ccc;
}
.select-wrap:after {
	display : block;
	position : absolute;
	top : 1.05rem;
	right : .75rem;
	z-index : 1;
	border-top : 7px solid #111;
	border-left : 6px solid transparent;
	border-right : 6px solid transparent;
	content : "";
}
/*.select-wrap:before {
	display : none;
	top: 0;
	right : 0;
	z-index : 1;
	height : 100%;
	width : 30px;
	background : white;
	border : 0;
}*/
.open:after {
	transform : rotate(180deg);
	top : 1rem;
	/*top : .85rem;
	right : -2rem;
	border : 0;
	content : "\2715";
	font-size : 20px;*/
	/*display : none;*/
}
.select-wrap ul {
	position : relative;
	z-index : 2;
	/*max-height : 250px;*/
	overflow : auto;
}
.select-wrap li {
	display : none;
	padding : .5rem .75rem;
	cursor : pointer;
}
.open li:nth-child(n+2) {
	border-top : 1px solid #ddd;
}
.select-wrap li:hover {
	background : rgba(0, 0, 0, 0.05);
}
.select-wrap li:active {
	opacity : .65;
}
.select-wrap .selected {
	display : block;
}
.open li {
	display : block;
}
select {
	position : relative;
	left : .75rem;
	z-index: 2;
	height : 2.5rem;
	width : 110%;
	background : none;
	outline : none;
	/*min-width : 10rem;
	border : 1px solid #ccc;*/
}
select:active {
	opacity : .65;
}

/*** non-text input focus states ***/
/*button:focus,*/
.focus,
select:focus {
	outline : 1px dotted #ee7873;
}
/*input[type=checkbox]:focus + span:before {

}
input[type=radio]:focus + span:before {
	outline : 1px dotted #111;
}
.toggle input:focus + span {

}*/

/*** radio / checkbox ***/
.label {
	display : inline-block;
}
.multi .label + .label {
	margin-left : 1rem;
}
.label span {
	display : inline;
	/*color : #666;*/
}
input[type=radio], input[type=checkbox] {
	position : absolute;
	left : -9999px;
}
input[type=checkbox] + span:before, input[type=radio] + span:before {
	display : inline-block;
	position : relative;
	top : 2px;
	height : 16px;
	width : 16px;
	margin-right : .5rem;
	box-shadow : 0 0 0 1px #111;
	border-radius : 3px;
	content : "";
	font-size : 13px;
	line-height : 1.4;
	text-align : center;
}
.label:active span:before {
	opacity : .65;
}
input[type=checkbox]:checked + span:before, input[type=radio]:checked + span:before {
	background : #2a2a2a url(../img/check-white.svg) no-repeat center;
	background-size: 12px;
}
input[type=radio] + span:before {
	top : 0;
	height : 12px;
	width : 12px;
	background : white;
	border-radius : 100%;
	box-shadow : 0 0 0 2px white, 0 0 0 3px #111;
	/*margin-left : 2px;*/
}
/*input[type=checkbox]:focus + span:before,
input[type=radio]:focus + span:before {
	background : white;
	box-shadow : 0 0 0 2px white, 0 0 0 3px #111, , 0 0 0 4px #ee7873;
}*/
input[type=radio]:checked + span:before {
	background : #111;
}

/*** toggle ***/
.toggle input + span:before {
	display : none;
}
.toggle span {
	display : inline-block;
	min-width : 5rem;
	/*background : #efefef;*/
	box-shadow : 0 0 0 1px #ccc inset;
	margin : 0;
	padding : .5rem .75rem;
	/*color : inherit;*/
	text-align : center;
}
.toggle span:active {
	opacity : .65;
}
.toggle input:checked + span {
	background : #111;
	box-shadow : none;
	/*margin-left : 0;*/
	color : white;
}
/*.toggle input:checked + span:active {
	opacity : 1;
}*/

/*** button ***/
button {
	background : #111;
	min-width : 12.5rem;
	padding : 1rem;
	color : white;
	cursor : pointer;
	font-size : 18px;
	letter-spacing : 1px;
	text-indent : 1px;
	/*text-transform : uppercase;*/
}
button:disabled {
	background-color : #2a2a2a;
	cursor : default;
}
button:disabled:before {
	transform : rotate(360deg);
	animation : spin 1s linear infinite;
    display : inline-block;
    position : relative;
    top : 1px;
    height : 10px;
    width : 10px;
    border-top : 2px solid white;
    border-right : 2px solid white;
    border-bottom : 2px solid rgba(255,255,255,0.5);
    border-left : 2px solid rgba(255,255,255,0.5);
    margin-right : .5rem;
    border-radius : 100%;
    content: "";
}
button:active {
	background-color : #2a2a2a;
	color : rgba(255, 255, 255, 0.65);
}

/*** pills & tags ***/
.pills, .tags {
	margin : 0 -5px;
}
.pills a {
	display : inline-block;
	position : relative;
	/*background : white;*/
	background : #111;
	margin : 5px;
	padding : .5rem 2rem;
	border-radius : 20px;
	/*box-shadow : 0 0 0 1px #111 inset;*/
	color : white;
	text-decoration : none;
}
.pills a:before {
	position : absolute;
	top : .59rem;
    left : .85rem;
	color : #111;
	content : "\2715";
	font-size : 15px;
}
.pills a:hover {
	color : white;
}
.pills a:hover:before {
	color : currentColor;
}
.pills a:active {
	background : #2a2a2a;
	box-shadow : none;
	color : rgba(255, 255, 255, 0.65);
}
.pills a:active:before {
	color : currentColor;
}

.tags a {
	display : inline-block;
	position : relative;
	background : white;
	margin : 5px;
	padding : .5rem 2rem;
	border-radius : 5px;
	border : 1px solid #ccc;
	color : #111;
	text-decoration : none;
}
.tags a:hover {
	border-color : #999;
	/*box-shadow : 0 0 0 2px rgba(0, 0, 0, 0.05);*/
	color : #ee7873;
}
.tags a:active {
	opacity : .65;
}

@keyframes spin {
	from {
		transform : rotate(0deg);
	}
	to {
		transform : rotate(360deg);
	}
}

@media screen and (max-width : 374px) {
	
	body {
		padding : 1.25rem;
	}

}

@media screen and (max-width : 500px) {

	/*.toggleable input {
		max-width : 75%;
	}
	.toggleable em {
		width : 25%;
	}*/
	button {
		max-width : 300px;
		width : 100%;
		/*margin : auto;*/
	}
}

@media screen and (min-width : 501px) {
	
	select {
		left : .25rem;
	}

}

@media screen and (min-width : 769px) {

	body {
		max-width : 1000px;
		margin : auto;
	}
	
	aside {
		height : 25rem;
		width : 25%;
		float : left;
		background : #ddd;
		margin-right : 3rem;
	}

	section {
		width : 60%;
		max-width : 30rem;
		float : left;
		padding-bottom : 2rem;
	}

	.select-wrap {
		max-width : 15rem;
	}

	.select-wrap:after {
		right : .95rem;
	}

	.select-wrap:before {
		width : 40px;
	}

}

