* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
body {
    background: white;
    font: normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
}
.hide {
	display: none;
}
hr {
	background: #ddd;
	border: 0;
	height: 1px;
	margin: 1.5rem 0;
}
hr.min {
	margin: -.5rem -1.25rem 1.5rem;
}
button, input {
	-webkit-appearance: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}
h1, h2 {
    font-weight: normal;
}
h2 {
    color: #999;
    margin: 0;
}
header {
	position: relative;
    background: #111;
    min-height: 64px;
    /*margin-bottom: 20px;*/
}
header img {
    position: absolute;
    top: .75rem;
    left: .75rem;
    max-width: 40px;
}
.focussed {
    min-height: 0;
    padding: 1rem 0;
}
.focussed img {
    display: block;
    position: static;
    max-width: 150px;
    margin: auto;
}

.sub-header a:active, .focussed a:active img {
	opacity: .65;
}
.backs {
	display: block;
	position: relative;
}
.backs a {
    display: block;
    position: absolute;
    top: .75rem;
    right: .75rem;
    background: transparent no-repeat center;
    background-size: 30px;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
}
.backs a:first-child {
    background-image: url(http://wtf.jefff.co/Tradesy-Comps/images/bag.png);
    right: .75rem;
}
.backs a:nth-child(4) {
	border-radius: 100%;
    background-size: 100%;
    top: 1.125rem;
    right: 11.25rem;
    height: 28px;
    width: 28px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
}
.backs a:nth-child(3) {
	background-image: url(http://wtf.jefff.co/Tradesy-Comps/images/msg.png);
    right: 7.5rem;
}
.backs a:nth-child(2) {
	background-image: url(http://wtf.jefff.co/Tradesy-Comps/images/note.png);
    right: 4rem;
}
.backs a[data-num]:after {
    display: block;
    background: #999;
    border-radius: 100%;
    color: white;
    content: attr(data-num);
    font-family: 'proxima-nova-semi';
    font-size: 14px;
    line-height: 1.15;
    padding: .2rem 0;
    position: absolute;
    top: .125rem;
    right: -.125rem;
    height: .85rem;
    width: 1.25rem;
    text-align: center;
    text-indent: 0;
}
.backs a.a[data-num]:after {
    background: #ee7873;
}
.backs a.l {
	top: 1.05rem;
	right: 4rem;
	background: none;
	height: auto;
	width: auto;
	padding: .35rem .45rem;
	border: 1px solid currentColor;
	border-radius: 0;
	color: white;
	line-height: 1;
	text-decoration: none;
	text-indent: 0;
}
.focussed a.l {
	right: 1rem;
}

nav {
	position: relative;
	top: 64px;
	background: white;
	margin-bottom: 64px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
nav > a {
	display: block;
	position: relative;
	height: 49px;
	width: 33.3%;
	padding: 1rem 1rem .9rem;
	color: #2a2a2a;
	float: left;
	/*font-family: 'proxima-nova-semi';*/
	line-height: 1;
	text-decoration: none;
}
nav > a:active {
	background: #efefef;
	/*color: #ee7873;*/
}
nav > a:last-child {
	width: 33.4%;
	border-left: 1px solid rgba(0,0,0,0.125);
	/*color: #ee7873;*/
}
nav > a:last-child:after {
	display: inline-block;
	position: relative;
	top: -2px;
	left: 5px;
	border-top: 6px solid currentColor;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	content: "";
}
nav > .show {
	color: #ee7873;
}
nav > .show:last-child:after {
	-webkit-transform: rotate(180deg);
	/*top: -1px;*/
	left: 6px;
}
nav > .show span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%
}
nav > .show span:after {
	display: block;
	background: #ee7873;
	height: 3px;
	width: 2.75rem;
	margin: auto;
	content: "";
}

menu {
	/*display: none;*/
	background: white;
	text-align: center;
}
.menu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}
.menu.show {
	/*display: block;*/
	max-height: 350px;
}
menu a {
	display: block;
	width: 50%;
	padding: .85rem;
	border-bottom: 1px solid #ddd;
	color: #2a2a2a;
	float: left;
	line-height: 1;
	text-decoration: none;
}
menu a:active {
	background: #efefef;
}
menu a:nth-child(even) {
	border-left: 1px solid #ddd;
}
/*menu a:last-child {
	width: 100%;
	padding: .75rem;
	float: none;
	clear: left;
}*/
menu hr {
	clear: left;
	margin: 0;
}

form {
    /*display: none;*/
    background: #efefef;
    border-bottom: 1px solid #ddd;
    /*border-top: 1px solid #2a2a2a;*/
    /*border-bottom: 1px solid #2a2a2a;*/
    clear: left;
    padding: .75rem;
}
form.show {
    display: block;
}
fieldset {
    position: relative;
}
label {
   display: block;
   padding-bottom: .5rem;
   font-size: .85rem;
   line-height: 1.2;
   /*text-align: center;*/
}
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: inherit;
    font-size: 16px;
}
input[type=search] {
    display: block;
    background: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.125) inset;
    width: 100%;
    padding: .75rem;
}
input[type=search]:focus {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.175) inset, 0 3px 0 rgba(0,0,0,0.075) inset;
}
input[type=submit] {
    position: absolute;
    /*top: .5rem;*/
    top: 2rem;
    right: .5rem;
    background: #111;
    padding: .25rem .35rem;
    border-left: 7px solid white;
    color: white;
    /*letter-spacing: 1.5px;*/
    /*text-indent: 1.5px;*/
    /*text-transform: uppercase;*/
}
input[type=submit]:active {
    opacity: .65;
}


#main > h3 {
    background: #ddd;
    height: .75rem;
    max-width: 80%;
    margin: auto auto 1rem;
}
.item {
    width: 50%;
    padding: 0 15px 15px;
    float: left;
}
.item:nth-child(n+3) {
	/*padding: ;*/
}
.item img {
    display: block;
    max-width: 90%;
    margin: auto auto 10px;
    /*margin-left: -50%;*/
}
.item h2, .item h3 {
    background: #999;
    height: .5rem;
    max-width: 80%;
    margin: auto;
}
.item h3 {
    background: #ddd;;
    max-width: 60%;
    margin-top: .5rem;
}


.cta {
	background: #fff9e2;
	margin-bottom: 1.5rem;
	padding: .5rem;
	text-align: center;
}
.main .cta {
	margin: -1.25rem -1.25rem 1.5rem;
}
.cta a {
	color: #ee7873;
}
.cta a:active {
	opacity: .65;
}

/*** body ***/
.main {
	padding: 1.25rem;
}
.main h1 {
	margin: .5rem 0;
	font-size: 20px;
    /*letter-spacing: 1.5px;*/
    line-height: 1.2;
    text-align: center;
    /*text-indent: 1.75px;*/
    /*text-transform: uppercase;*/
}
.main p {
	color: #777;
	line-height: 1.25;
	text-align: center;
}
.main form {
	display: block;
	background: none;
	margin: 1.5rem -1.25rem 0;
	padding: 1.5rem 1.25rem .5rem;
	border-top: 1px solid #ddd;
	border-bottom: 0;
}
.main fieldset:nth-child(n+2) {
	margin-top: 2rem;
}
.main label, .main label span {
	display: block;
	position: relative;
	color: #777;
	font-family: 'proxima-nova-semi';
	font-size: 1rem;
	text-align: left;
}
label.bad input {
	border-color: red;
}
label.bad span {
	color: red;
}
.good:after, .bad:after {
	display: block;
	position: absolute;
	top: 2.175rem;
	right: .875rem;
	color: #74a623;
	content: "\2713";
	font-family: 'proxima-nova-semi';
	font-size: 1.25rem;
	/*font-weight: bold;*/
}
.bad:after {
	top: 2rem;
	right: .95rem;
	color: red;
	content: "!";
	font-family: 'proxima-nova-regular';
}
input[type=text], input[type=email], input[type=password] {
	width: 100%;
	background: none;
	margin-top: .35rem;
	padding: .5rem;
	border: 1px solid rgba(0,0,0,0.125);
	color: #111;
	font-family: 'proxima-nova-regular';
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
	border-color: #333;
	box-shadow: 0 3px 0 rgba(0,0,0,0.075) inset;
}
#submit {
	width: 100%;
	background: #ee7873;
	margin-bottom: 1rem;
	padding: 1.15rem 1rem 1.05rem;
	color: white;
	font-size: 1.5rem;
	letter-spacing: 1.5px;
    line-height: 1;
    text-transform: uppercase;
}
#submit:active {
	opacity: .65;
}
label small {
	display: block;
	padding-top: .5rem;
	font-family: 'proxima-nova-regular';
}
label .hidden {
	display: none;
}
input:focus + .hidden {
	display: inherit;
}
small button {
	float: right;
}
small button:active, small a:active {
	opacity: .65;
}
small a {
	display: inline;
	color: #666;
	/*text-decoration: none;*/
}
.micro {
	display: block;
	color: #777;
	line-height: 1.2;
	text-align: center;
}
.micro a {
	color: #ee7873;
}
.main label:nth-child(n+2) {
	margin-top: 1.5rem;
}

.right {
    display: block;
    width: 100%;
    margin: -.5rem 0 1.25rem;
    /*float: right;*/
    color: inherit;
    font-family: inherit;
    font-size: .85rem;
    text-align: right;
    text-decoration: none;
}
.right:active {
	opacity: .65;
}
.right span {
    color: #ee7873;
}

/**** login screen w/ item ****/
.item-ctx {
	margin: -.75rem -1.25rem 1rem;
}
.item-ctx img {
	display: block;
	max-width: 70px;
	margin: auto;
}
.item-ctx figure {
	display: table;
	width: 100px;
	float: left;
}
.item-ctx figure div {
	display: table-cell;
	height: 80px;
	vertical-align: middle;
}
.item-ctx h2, .item-ctx h3 {
	margin: 0;
}
.item-ctx h2 {
	color: #111;
	/*font-family: 'proxima-nova-regular';*/
	font-size: 17px;
	line-height: 1.2;
}
.item-ctx h3 {
	padding: .5rem 0 0;
	font-family: 'proxima-nova-regular';
	font-size: 14px;
	letter-spacing: normal;
	text-align: left;
}
.item-ctx h3 span {
	padding-left: .5rem;
	color: #999;
	text-decoration: line-through;
}
.item-ctx > div {
	display: table;
	max-width: 200px;
	float: left;
}
.item-ctx div div {
	display: table-cell;
	height: 80px;
	vertical-align: middle;
}

footer {
	background: #111;
	margin-top: 1.5rem;
	padding: 8rem 0;
	color: white;
	font-size: .85rem;
	text-align: center;
}

@media screen and (min-width: 375px) {

	.item-ctx > div {
		max-width: 255px;
	}

}