@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
	color : #111;
	font : normal 100%/1.5 'proxima-nova-regular', 'Helvetica Neue', sans-serif;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}

#container {
	max-width : 1200px;
	margin : auto;
	padding : 1.5rem 0;
	text-align : center;
}

.item {
	display : inline-block;
	height : 300px;
	min-width : 200px;
	max-width : 250px;
	background : white;
	margin : 1rem;
	padding : 1rem;
}
.item:last-child {
	float : left;
}
.item:hover {
	box-shadow : 0 0 0 1px #ddd inset;
	/*background : #efefef;*/
}
.item figure {
	/*display : table-cell;*/ 
	height : 150px;
	width : 150px;
	margin : auto auto 1rem;
	/*vertical-align : middle;*/
}
.item figure div {
	display : block;
	height : 150px;
	width : 100px;
	background : #333;
	margin : auto;
}
.item .s div {
	position : relative;
	top : 50px;
	height : 50px;
	width : 150px;
}
.item h2, h3, p {
	height : .85rem;
	max-width : 90%;
	background : #ddd;
}
.item h2 {
	width : 10rem;
	background : #111;
	margin : auto auto .5rem;
}
.item h3 {
	width : 12rem;
	background : #999;
	margin : auto auto .5rem;
}
.item p {
	width : 6rem;
	margin : auto auto .5rem;
}

.button-wrap {
	padding : 2rem 0;
	text-align : center; 
}
button {
	min-width : 5rem;
	background : #999;
	padding : .5rem 1rem;
	border-radius : 3px 0 0 3px;
	outline : none;
	color : white;
	cursor : pointer;
}
button.active {
	background : #111;
	color : white;
	cursor : default;
}
button:active {
	opacity : .65;
}
button.active:active {
	opacity : 1;
}
button:nth-child(n+2) {
	margin-left : -5px;
	border-radius : 0;
}
button:last-child {
	border-radius : 0 3px 3px 0;
}

@media screen and ( max-width : 500px ) {

	.item {
		min-width : 0;
		width : 150px;
	}
	.item figure, .item .s div {
		max-width : 100px;
	}

}

@media screen and ( max-width : 567px ) {

	.button-wrap {
		display : none;
	}

}

@media screen and ( min-width : 1000px ) {

	.item {
		margin : 1rem 3rem;
	}

}

@media screen and ( min-width : 1500px ) {

	#container {
		max-width : 1300px;
	}

}